[2019-01-25 10:46] andersmartini opened #121 "Paths returning Completables generates incorrect open-api yaml"
Thanks for reporting an issue for Micronaut, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/micronaut) or Gitter (https://gitter

[2019-03-29 12:53] croudet opened #1 "OpenApi - Generated yaml is inconsistent"
I have the following operations:
[code]
With the following controller:
[code]
where `SortOrder` is an enum:
[code]
The generated `yaml` for the parameter `SortOrder sort` is not consistent:
[code]
The parameter `sort` for the operation `listChannelUpdates` is missing the schema part.

If you comment one the of `listAssets` method, the `listChannelUpdates` `yaml` will be correct.
If you add another

[2019-04-01 12:38] croudet commented on #1
Note that it is a regression from `1.1.0.RC1`

[2019-04-11 14:39] croudet opened #14 "OpenAPI - schema annotation in ApiResponse is not used"
Thanks for reporting an issue for Micronaut, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/micronaut) or Gitter (https://gitter

[2019-04-17 11:00] JacobAae opened #4 "name property from @Schema annotation on field level is not picked up in generated swagger yml"
When the @Schema annotation is used on class level, the name="xxx" setting is reflected in the generated swagger yml file. But when @Schema is used on a field level, it is not.

Project that shows this is available here: https://github.com/JacobAae/swaggerdemo-for-schema-issue

The `@RequestBody Pet` class `petName` field has these annotations

[code]
And the generated file has:

[code]

Expected

[2019-04-24 10:14] meredrica opened #8 "Docs link is broken"
The link from the Readme is dead, same as in the docs on micronaut.io

[2019-04-24 10:42] meredrica commented on #8
nevermind, i think i used an old link
https://docs.micronaut.io/latest/guide/index.html#openapi

[2019-04-24 10:42] #8 closed

[2019-04-25 07:19] #4 closed

[2019-04-30 11:10] sdelamo opened #10 "README contains broken link to unpublish documentation"

[2019-04-30 11:19] sdelamo opened #11 "1.1.1.SNAPSHOT does not generate openapi yaml file"
## Steps to reproduce:

1) `mn create-app my-openapi-app --features swagger-java`
2 ) `$ ./gradlew build`

[code]

An open api file is created here: ` build/classes/java/main/META-INF/swagger/my-openapi-app-0.0.yml `

3) Update the build.file to use 1.1.1.SNAPSHOT.

[code]

4 ) `$ ./gradlew build`

No openapi file is created.

[2019-05-01 14:05] brianwyka opened #12 "Missing and Incorrect global security configuration"
We need some annotation or configuration be able to apply global operation parameter, such as a authentication / authorization header to all API requests.  These headers are not inherently included in controllers since they are processed by filters.

[2019-05-01 14:58] sdelamo commented on #11
I think this is already implemented

[2019-05-01 14:58] #11 closed

[2019-05-01 15:00] sdelamo commented on #12
For security we are defining the securiyt scheme in `Application.java`

 */
[code]

and then in controllers which require authentication:

We do:

[code]

Is this what you are looking for?

[2019-05-01 15:19] #10 closed

[2019-05-01 15:20] brianwyka commented on #12
Thanks @sdelamo.  Is there any way to configure the `SecurityRequirement` by path from yaml, or must everything be done though the annotations for AOT?

[2019-05-01 15:27] brianwyka commented on #12
Our JWT token is passed in a header named `JWT` without a `bearer` prefix.  Any direction on how to configure that?

[2019-05-01 15:30] sdelamo opened #13 "Multiple Consumes types generate incorrect openapi definition"
Version tested: 1.1.1.BUILD-SNAPSHOT.

# Steps to reproduce

For such a controller

[code]

These `paths` get generated:

[code]

It probably should be:

[code]

[2019-05-01 16:00] brianwyka commented on #12
Looks like we can use the `apiKey` type instead.  In getting that to work, I found an issue.  After adding the `@SecurityScheme` at the application level, only controllers annotated with `@SecurityRequirement` are generated to openapi.  Is this a bug?

[2019-05-07 14:37] puneetbehl commented on #12
@brianwyka Yes, I believe it's a bug if other controller paths are not included in OpenAPI definition after adding `@SecurityScheme`

[2019-05-07 19:41] brianwyka commented on #12
@puneetbehl is there a way to globally define a `@SecurityScheme` to be used by path, instead of having to include the `@SecurityRequirement` on every controller?

[2019-05-08 08:22] puneetbehl commented on #12
@brianwyka I think you can define `@SecurityRequirement` on the Application class which will generate `security` section on the root level as:

[code]
And, you can override on the operation(controller) level to use a different authentication type, different OAuth/OpenID scopes, or no authentication at all.

[2019-05-08 08:30] #13 closed

[2019-05-08 10:44] raderio opened #21 "Add support for validating request/responses against a OpenAPI / Swagger specification"
We use approach API first, so we do not generate OpenAPI schema, we write it manually, this allow us to use any library, and do not wait when schema generation will work with that library.

Will be great to have a tool for validating request/responses against OpenAPI / Swagger specification.
Something like https://bitbucket.org/atlassian/swagger-request-validator/src/master/

[2019-05-08 15:40] ctoestreich commented on #12
@puneetbehl @sdelamo @brianwyka After banging my head against the wall, stabbing needles in my eyes and setting my hair on fire... I FINALLY was able to determine why our UI isn't working with the auth.  There is indeed a bug with how micronaut generates the security spec for the yaml.

## Individual Operation Tokens
The INCORRECTLY generated code looks as following

<img width="518" alt="Screen S

[2019-05-09 06:15] #14 closed

[2019-05-14 14:53] flexguse opened #19 "support Lombok fluent accessors"
Currently micronaut-openapi seems not to support Lombok fluent accessors (please refer to https://stackoverflow.com/questions/55831497/micronaut-openapi-swagger-lombok-and-fluent-api).

If Lombok fluent accessors are enabled and created, most of the OpenAPI documentation is missing. Please refer to the extended micronaut example https://github.com/flexguse/micronaut-examples/tree/master/hello-worl

[2019-05-17 03:34] #12 closed

[2019-05-27 12:55] Chase22 opened #22 "SecurityRequirements get parsed wrongly into the yaml"
**What is the Error**
If using @SecurityRequirement on a controller or a method in a controller the resulting yaml file is not correct and will not work when using swagger UI

[code]

this causes the following entry in the swagger-yaml file
[code]

correctly the yaml should contain the following:
[code]

[2019-05-28 11:10] sven1103 opened #23 "OpenAPI doc generation fails, when customising the return type content."
Dear all,

I am currently struggling with the automated OpenAPI doc generation on my Micronaut project, when customising the response documentation of an GET endpoint with the `@ApiResponse` annotation.

Example:

[code]

**Expected behaviour**

Successful Generation of the OpenAPI documentation, with the endpoint response type description that references to a schema representing the `Trace.class`

[2019-05-28 11:17] lenalebt opened #24 "Swagger file generation does not obey snake_case setting for jackson"
I have a project where I configured jackson to use `snake_case` in JSON:

From `application.yml`:
[code]

Schemas generated for my Kotlin data classes are generated with `camelCase`:
[code]
leads to
[code]

`hasChildren` should be named `has_children`.

Are there any known workarounds?

[2019-05-28 12:51] graemerocher commented on #24
Not currently, It would likely have to be a configuration option. Currently it defaults to use `getName()` of the `PropertyElement` on this line:

https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L418

It is a little complex because currently we do parse the `application.yml` configuration at Compile

[2019-06-02 21:47] raghung opened #25 "@Parameter is giving java.lang.NoSuchFieldError"
Version tested: 1.1.2

Controller:
import io.micronaut.http.MediaType
import io.micronaut.http.annotation.Controller
import io.micronaut.http.annotation.Get
import io.reactivex.Single
import io.swagger.v3.oas.annotations.Operation
import io.swagger.v3.oas.annotations.Parameter
import io.swagger.v3.oas.annotations.media.Content
import io.swagger.v3.oas.annotations.media.Schema
import io.swagger.v3.

[2019-06-02 21:59] gregratliff commented on #25
I believe that the issue is that the `AnnotationMetadataWriter `is using the enum value's `toString()` method rather than the `name()` method when generating the `AnnotationMetadata`.  If you look at the generated AnnotationMetadata class for your controller, you will see that the in field value is lower case rather than upper case.

I believe that the following code change will fix the issue:

Fi

[2019-06-02 22:08] gregratliff commented on #25
@raghung, I think this is an issue with the generation of the annotation metadata which is part of the micronaut-core project.  If you open this issue in the micronaut-core project, I will create a pull-request with the fix.

[2019-06-02 22:35] raghung commented on #25
@gregratliff, I have logged the issue in micronaut-core project(https://github.com/micronaut-projects/micronaut-core/issues/1739)

[2019-06-03 13:55] gregratliff commented on #25
This issue should be closed.  It has been resolved in micronaut-core (micronaut-projects/micronaut-core#1739)

[2019-06-03 14:09] #25 closed

[2019-06-03 17:51] sdelamo commented on #24
@lenalebt  The workaround we are using is using the @Schema annotation in our POJOs and specify the name attribute:

[code]

[2019-06-09 19:48] lenalebt commented on #24
Hi @sdelamo thanks for that tip, I'll give it a try :)!

[2019-06-14 05:07] leenanimbekar opened #28 "OpenAPI extension fields(Extension and ExtensionProperty) not working as expected with micronaut-openapi"
In a Controller and Application.Kt file I am trying to add additional fields i need using Extension annotation from OpenApi but the format is wrong in open api.yml file.
[code]

**Expected Output -**
[code]
**Actual Output -**
[code]

the additional fields are getting added as
[code]
whereas expected would be
[code]

[2019-06-23 21:01] reanimated commented on #12
This change does not appear to be in any build? (1.1.2.BUILD-SNAPSHOT or 1.2.0.BUILD-SNAPSHOT)

[2019-06-25 08:55] leenanimbekar commented on #28
Can someone please help here ?????

[2019-06-25 09:12] graemerocher commented on #28
Currently extensions properties are not supported. I have marked this as an improvement. It has not gone unnoticed and we will get to it as soon as someone becomes available to work on it.

If you wish you to resolve the issue sooner this is an Open Source project and you can send a PR. The `Operation` annotation is parsed here https://github.com/micronaut-projects/micronaut-openapi/blob/master/op

[2019-06-25 09:41] leenanimbekar commented on #28
Thanks for the update !

[2019-07-05 21:06] pditommaso opened #29 "AbstractOpenApiVisitor StackOverflowError"
When adding the openapi generation to Groovy based Micronaut project the following exception is thrown

[code]

Gradle deps

[code]

Tested with 1.1.1 .. 1.1.4. It works with 1.1.0

[2019-07-05 22:46] graemerocher commented on #29
Please provide an example that reproduces the issue

[2019-07-07 00:31] puneetbehl commented on #23
I have been very busy lately so could not make any progress on this.

[2019-07-07 13:21] pditommaso commented on #29
I wish I could, it's a not trivial application that started to return that that error upgrading from 1.1.0 to 1.1.4. Not sure on what to focus to isolate the problem.

[2019-07-23 16:51] RuiffCardoso commented on #22
Currently having the same issue. Is there any way to generate this as JSON to try to avoid this issue? Thanks

[2019-07-23 17:28] Chase22 commented on #22
@RuiffCardoso One workaround i found was just to name the security scheme "name"

So have
[code]

[2019-07-24 19:24] jfuentestgn commented on #29
Same issue as @pditommaso . You can clone my repo from [https://github.com/jfuentestgn/doi-validator](https://github.com/jfuentestgn/doi-validator) (just a simple project: controller+service+response object).

Gradle deps are:
[code]

They are different from the ones in the docs. I created a fresh project just to known which deps to add with "--features swagger-groovy"

This is the stacktrace afte

[2019-07-25 14:32] dstepanov commented on #22
I have a PR to fix it https://github.com/micronaut-projects/micronaut-openapi/pull/31

[2019-07-25 14:35] dstepanov opened #32 "Example with @PathVariable is not working"
https://docs.micronaut.io/1.2.0.RC2/guide/index.html#routing:
[code]
`number` is not added into swagger.yml, workaround is to remove `@PathVariable`.

[2019-07-27 10:02] #32 closed

[2019-07-29 18:52] geemang2000 commented on #29
I'm getting the same issue with a micronautVersion=1.2.0.RC2

`
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':compileGroovy'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskExecuter.java:148)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskEx

[2019-07-31 18:17] pavan2sunny opened #41 "doc not generating for security endpoints"
yml is not generated for security endpoints

[2019-08-01 09:48] graemerocher commented on #22
Thanks for the PR!

[2019-08-01 09:48] #22 closed

[2019-08-04 14:11] timurstrekalov commented on #29
Also happened with 1.2.0.RC2.

Example: https://github.com/timurstrekalov/micronaut-openapi-visitor-bug - clone and try compiling. Seems it has to do with the fact that the controller response class Hello references itself.

Stack trace:
[code]

[2019-08-06 13:09] #29 closed

[2019-08-06 14:20] graemerocher opened #42 "Build setup to release example projects"
The build currently publishes the `example-*` and `doc-examples` projects to bintray and should not. This should be resolved before the next release.

[2019-08-07 12:08] hheberhardt opened #43 "OpenAPI yaml has incorrect syntax for basic auth"
Hi!

With the following OpenAPI definition:

[code]

This part of the open-api-specification-yaml is created:
[code]
I entered this created yaml in https://editor.swagger.io/ but there you can easily check, that the security part is not read correctly.

If i compare with the specification on https://swagger.io/docs/specification/authentication/basic-authentication/, the generated yaml should look

[2019-08-08 11:17] HoaBo opened #44 "Request body generated in Swagger YAML for POST/PUT with no body"
This is to reopen https://github.com/micronaut-projects/micronaut-core/issues/1200

I found the related code here https://github.com/micronaut-projects/micronaut-openapi/blob/23409f4537aa64f07f0558a6ca9c92e797536127/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiControllerVisitor.java#L435

If all the body parameters are skipped, e.g. all of them are hidden parameters, then the body wil

[2019-08-08 12:04] dstepanov commented on #43
It's fixed in the latest version 1.2.0

[2019-08-08 12:20] #43 closed

[2019-08-08 12:22] Rosetjau opened #45 "OpenAPI yaml is incorrect if Javadoc @return tag contains a multi-line string"
Context: Micronaut 1.2.0 Java project generated with command

[code]

If the @return tag of the Javadoc of a controller contains a multi-line string the generated OpenAPI yaml is incorrect.

Example of such controller:

[code]

Expected OpenAPI yaml:

[code]

Actual OpenAPI yaml:

[code]

As you can see multiline strings in @param tags are correctly handled, but the presence of multiline string in

[2019-08-08 12:43] hheberhardt commented on #43
Hi!
I have updated the dependency manually and you are right. In ApplicationClassVisitor it seems to be fixed, but on 'operation-level' this issue seems still be there:

[code]
if i put this on a function, i would also assume, that in generated yaml this is correctly interpreted.

but in this case, i got:
[code]

but should be:

[code]

Could you please verify?
Thanks.

[2019-08-08 12:58] dstepanov commented on #43
I have only tested `@SecurityRequirement` on a method directly.
This should work:
[code]

[2019-08-08 13:19] hheberhardt commented on #43
Thanks, yes! that works! Maybe you can also intergrate this to '@Operation'  annotation processing in next release - but i can work so far.

[2019-08-11 12:56] geemang2000 opened #46 "Generated doc using Operation and ApiResponse are missing summary, responseCode, description and mediaType warning"
Version: 1.2
Project Language: groovy

1. Operation summary and description are not generated in the yml (see screenshots)

1. Adding mediaType to Content annotation generates a warning in the build process
[code]
2. Loading the generated yml in (editor.swagger.io) has an error every endpoint. _Should the description should be auto-generated?_.
[code]
3.  NOTE: in my example (below) the descriptio

[2019-08-12 08:36] RamonWedowski commented on #46
Hi, in the examples an older micronaut version is used. It should work with the latest version of micronaut.

[2019-08-12 16:04] #44 closed

[2019-08-14 10:09] #45 closed

[2019-08-16 07:18] sillyoldman opened #55 "Swagger Editor"
Can I ask , if one also has a requirement to package a Swagger Editor with the application then if there's a recommended way? e.g. something like springfox ?

[2019-08-16 09:07] JacobAae commented on #23
Looking into this, I have found that the problem is specific for Groovy, as the same annotations work for a Micronaut java project. In `AbstractOpneApiVisitor.bindSchemaIfNeccessary` the schema is tried based on the classElement found from the context.

* In the Java project, the context is of type ` io.micronaut.annotation.processing.visitor.JavaVisitorContext` and the call to `context.getClassEl

[2019-08-16 09:18] JacobAae commented on #46
I think this has the same root cause as #23

[2019-08-19 04:09] franz-see opened #57 "How to use micronaut.openapi.additional.files?"
I tried adding it in compile time and in runtime but I could not get it to work.

[2019-08-20 12:06] puneetbehl opened #59 "@SecurityScheme `paramName` not accounted for the `name`."
The following:
[code]
does not result into:

[code]
and instead the `name` is set to `BearerAuthCookie`.
See [swagger-core/blob/v2.0.4/modules/swagger-annotations/src/main/java/io/swagger/v3/oas/annotations/security/SecurityScheme](https://github.com/swagger-api/swagger-core/blob/v2.0.4/modules/swagger-annotations/src/main/java/io/swagger/v3/oas/annotations/security/SecurityScheme.java#L71)

[2019-08-20 12:19] puneetbehl commented on #55
I am guessing you might mean Swagger UI and not the Editor. Right now, micronaut-openapi doesn't package Swagger Editor or Swagger UI but if you want Swagger UI then you can use the following Gradle plugin:

https://github.com/int128/gradle-swagger-generator-plugin

[2019-08-20 18:18] matthijsbierman commented on #55
Simplest way is to include an HTML page using [static resources support](https://docs.micronaut.io/latest/guide/index.html#staticResources).

In `application.yml`:

[code]

And in `src/main/swagger` put an `index.html` with:

[code]

The path to the YAML file is hardcoded. It can be set by an environment variable (micronaut.openapi.target.file) or generated from `@OpenAPIDefinition`. If none of th

[2019-08-21 15:12] nkatakkar commented on #55
@matthijsbierman Thank you. Will try using the static resources route.

Also Thank you @puneetbehl
Since we use Maven, will try build tool agnostic approach first.

Thanks.

[2019-08-22 14:47] hc-codersatlas opened #60 "Exclude controllers from OpenAPI"
Hi, OpenAPI scans all the controllers. Is there a way to exclude some? Or more specifically remove those used as part of e.g. Micronaut Views. Some controllers may not be an API controller.

[2019-08-22 15:43] reanimated commented on #60
Have you tried using the @Hidden annotation?

[2019-08-23 20:49] picaso commented on #24
Hi!
Any update on this? Trying to use Micronaut in our org, and this was flagged as an issue, the work-around does work though, just something else to maintain.

[2019-08-24 03:57] sillyoldman commented on #55
@matthijsbierman Worked very well! Cheers.

[2019-08-24 03:57] #55 closed

[2019-08-28 05:22] alphawolf1988 opened #63 "Open API 3 discriminator mapping not recognized"
Currently the discriminator mapping is not recognized. Thats why in the resulting yml-File the mapping is missing. The Open Api documentation shows at the bottom a working example:

[https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/](https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/)

A fix would be really awesome since discriminator sele

[2019-08-28 10:37] hc-codersatlas commented on #60
@reanimated thanks, that's working.

[2019-08-28 10:37] #60 closed

[2019-08-30 14:50] virtutemRob commented on #46
Given the findings in #23 I assume that there is currently not a work around for this issue?

[2019-09-11 19:41] croudet commented on #57
Have you tried this in gradle:
[code]

[2019-09-16 11:45] alphawolf1988 opened #72 "@NotNull constraint not recognized"
Currently the @NotNull annotation isn't recognized correctly while generating the OpenAPI spec.
It seems to be, that for Micronaut 1.2.1, all fields are marked as required. If i add the annotation  @Nullable, the field is not marked as required, but this shouldn't be required in my eyes, since we have @NotNull for the required case.

[2019-09-26 20:35] #42 closed

[2019-09-26 20:54] #59 closed

[2019-10-14 15:43] stottpaul opened #80 "Add support for generating OpenAPI V2 specs"
Various frameworks including:
- OWASP ZAP (https://github.com/zaproxy/zaproxy/issues/4549)
- Google Cloud Endpoints (https://cloud.google.com/endpoints/docs/openapi/openapi-limitations)

will only work off OpenAPI v2 specs.
It would be helpful if there was an option in Micronaut to generate any major version of the OpenApi spec.

[2019-10-17 09:54] yosuf commented on #80
Also, WSO2 API manager supports only until 3.0.0.
It would be favourable if the OpenAPI version to generate is configurable.

[2019-10-30 18:44] mkfuri commented on #24
Hi! I've the same problem. Any update on this?

[2019-10-31 12:14] markjfisher opened #82 "Swagger Definition missing 'name' value in securitySchemes section for apiKey type"
Version 1.2.0 of micronaut correctly generates the following swagger 3.0 values under components/securitySchemes

      securitySchemes:
        key:
          type: apiKey
          name: yourKeyName
          in: query

In 1.2.5 the `name: yourKeyName` field is missing (the API key name field), and the schema fails to validate.

Documentation is at https://swagger.io/docs/specification/authentic

[2019-11-05 12:00] hayond commented on #72
@alphawolf1988 same problem，since 1.2.1，all properties marked as required. pr #65  for 1.2.1 and 1.2.2 seem to support requried and requiredProperties，and make all properties required. i think it is wrong. if all properties required, how to make requried and requiredProperties effect？

[2019-11-05 15:23] graemerocher commented on #72
Would you like to send another PR to correct this?

[2019-11-08 08:41] puneetbehl commented on #82
Please use [paramName](http://docs.swagger.io/swagger-core/v2.0.8/apidocs/io/swagger/v3/oas/annotations/security/SecurityScheme.html#paramName--) as:

[code]
which correctly generates:

[code]

I just tested with Micronaut 1.2.5, following is the sample application: [testapp.zip](https://github.com/micronaut-projects/micronaut-openapi/files/3823664/testapp.zip)

[2019-11-08 16:23] markjfisher commented on #82
That worked. Thanks!

[2019-11-08 16:23] #82 closed

[2019-11-08 20:32] puneetbehl commented on #57
@franz-see Can you please verify if the @croudet solution works for you?

[2019-11-11 06:46] puneetbehl commented on #41
It seems to be working fine, see the following example application:
[testapp.zip](https://github.com/micronaut-projects/micronaut-openapi/files/3829963/testapp.zip)

[2019-11-11 19:35] puneetbehl commented on #23
I think it should work when you define content as an array in the `ApiReponse` annotation as:

[code]

For some reason, while reading the `AnnotationValue` it is not converting content into an array in case of Groovy. I am working on this and will share the fix soon.

[2019-11-12 09:24] sven1103 commented on #23
Thank you @puneetbehl for looking into this!

[2019-11-18 10:38] #63 closed

[2019-11-20 15:20] puneetbehl commented on #23
This issue will be resolved once the PR micronaut-projects/micronaut-core#2374 is merged and Micronaut v1.2.7 is released.

[2019-11-20 17:11] croudet opened #93 "Regression introduced by PR-85"
https://github.com/micronaut-projects/micronaut-openapi/pull/85

RequestBody annotation with ArraySchema throws an Exception.

See https://github.com/croudet/micronaut-openapi/tree/Issue-PR-85 with `OpenApiRequestBodyArraySchemaSpec`

[code]

[code]

[2019-11-20 18:14] Selenog opened #94 "Incorrect behavior of @PositiveOrZero & @NegativeOrZero"
Setting `@PositiveOrZero` or `@NegativeOrZero` will result in a "minimum 1" or "maximum 1" respectively.
Expected behavior: "minimum 0" or "maximum 0" respectively.

[2019-11-21 05:46] #72 closed

[2019-11-22 13:34] matthijsbierman commented on #55
Note: there is now a built-in way to expose swagger-ui:

https://micronaut-projects.github.io/micronaut-openapi/1.3.x/guide/index.html#openApiViews

[2019-11-22 16:09] virtutemRob commented on #23
Excited to see this resolved.  Thank you @puneetbehl!

[2019-11-25 12:16] puneetbehl commented on #28
I think it is fixed with #73

[2019-11-25 12:19] #93 closed

[2019-11-25 12:20] #94 closed

[2019-11-25 12:21] #28 closed

[2019-11-25 12:21] #41 closed

[2019-11-25 12:43] pavan2sunny commented on #41
when i said yml not generatd for security endpoints i meant  default login / oauth api endpoints where not generated in the yml like i cont see them

[2019-11-25 12:45] puneetbehl commented on #41
Please see [Merging Schemas](https://micronaut-projects.github.io/micronaut-openapi/snapshot/guide/index.html#mergingSchemas)

[2019-11-27 19:03] tweiand commented on #55
@matthijsbierman - the provided latest documentation does not work. That is why we are looking for other ways.

[2019-11-27 21:18] matthijsbierman commented on #55
@tweiand the built-in way is not officially released yet, it will be available with 1.3.0. If you want to try out the milestone release you can install with:
```sdk install micronaut 1.3.0.M1```

[2019-11-28 17:47] vanga opened #102 "Ability to generate spec in json instead of yaml"
Hi,

I would like to know if there is any OOTB or an easy extension point to generate the OpenAPI spec in json format instead of Yaml.

Thanks.

[2019-11-29 08:29] ilopmar commented on #102
At this moment the only output is Yaml and it's done here https://github.com/micronaut-projects/micronaut-openapi/blob/ff28234c8c23c9f1a1c443865420c5527e6c33ef/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiApplicationVisitor.java#L259-L298

It shouldn't be too complicated to add support there to serialize to json based on some configuration property.

[2019-11-29 08:44] vanga commented on #102
Thanks @ilopmar I will close this for now and take a dig at this code, to see if it's something that I can add easily

[2019-12-04 06:11] witek1902 opened #104 "Add info about security & OpenAPI"
Add info about security. How can I use `intercept-url-map` to create unsecured OpenAPI docs: https://micronaut-projects.github.io/micronaut-security/snapshot/guide/#interceptUrlMap

Example:
[code]

[2019-12-04 06:25] witek1902 opened #105 "Generated filename customization"
Hi,
Can I customize generated YAML name?
For my project, generated file is named:
```asclab-micronaut-poc---lab-insurance-sales-portal-api-1.0.yml```
I would like to name it like this:
```insurance-sales-portal-api.yml```
Can I do this?

[2019-12-04 06:32] witek1902 commented on #105
I took a look at the code:
https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiApplicationVisitor.java
and I noticed that filename is generated from Info -> title:

[code]
So I closed this issue :)

[2019-12-04 06:32] #105 closed

[2019-12-10 08:46] #24 closed

[2019-12-10 09:15] lathspell opened #108 "How to build Swagger/Rapidoc UI Views with build.gradle and Kotlin-only?"
The documenation on
https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#openApiViews
has an example how to specifiy "-Dmicronaut.openapi.view.spec" in build.gradle file for a Java project.

This seems to have no effet on a Kotlin-only project though. I tried the following but with no success:

[code]

How should I add those parameters?

(BTW, compiler args seem somewhat

[2019-12-10 11:37] sven1103 commented on #23
@puneetbehl Thank you so much, I can confirm that it works now with Micronaut 1.2.7.

[2019-12-10 11:37] #23 closed

[2019-12-10 18:44] croudet commented on #108
Have you try with https://kotlinlang.org/docs/reference/kapt.html#java-compiler-options

[2019-12-11 08:26] lathspell commented on #108
I tried the following with no success. There is no error message either, the build runs fine but does not produce any HTML files or similar for the UI.

[code]

I couldn't find any project on Github either that generates a Swagger API with Micronaut for a pure Kotlin app :-( If you are aware of any, please let me know.

[2019-12-11 08:55] graemerocher commented on #108
The example at https://github.com/micronaut-projects/micronaut-examples/tree/master/hello-world-kotlin does so

My suspicion is that because Gradle uses a compiler daemon for compiling Kotlin code that you would need to pass the system properties to the compiler daemon. This is ugly I know, but I am unaware of a better way with Kotlin.

Something like:

[code]

This comes from my how I typically a

[2019-12-11 21:38] lathspell commented on #108
Neither the hello-kotlin-java nor ~-kotlin example from micronaut-examples generates one of the OpenAPI UIs? Maybe the swagger.yml at runtime but they do not have HTML files in the build/target directories.

Using custom JVM options for Gradle is indeed way to ugly, I rather copy the Swagger-UI HTML files by hand into the resource folder :)

[2019-12-13 00:53] dlamoris opened #110 "generated security declaration in yaml has wrong format"
Hi, I have a controller method annotated like this:
[code]

and in the generated yaml, it has this
[code]

but according to the openapi doc (https://swagger.io/docs/specification/authentication/basic-authentication/), it should be
[code]

[2019-12-13 16:17] croudet commented on #110
I think a current work around is to use `SecuritryRequirement` outside `Operation`:
[code]

[2019-12-13 18:36] dlamoris commented on #110
thanks, that works!

[2019-12-17 07:47] alphawolf1988 opened #114 "Wrong schema while using discriminator"
It seems to be, if i'm using the discriminator, the generated schema is wrong.

[code]
The "required" field ist listed under the "allOf" field.

[2019-12-18 12:24] croudet commented on #114
What version are your using?

[2019-12-18 12:47] alphawolf1988 commented on #114
@croudet I'm using the micronaut-openapi version 1.3.3 and the micronaut-core version 1.2.7.
I've testet previous versions until micronaut-openapi 1.2.3, which introduced the problem (1.2.2 works, but doesn't support discriminator mappings).

[2019-12-18 17:46] croudet commented on #114
Looks correct to me.
Check https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/
[code]

[2019-12-18 19:46] rmberg commented on #108
JFYI @graemerocher's suggestion just above worked for me

[2019-12-19 00:01] lathspell commented on #108
Thanks to @rmberg , your command line works for me as well now.

I tested with a newly created demo project not with the one at work though. In the demo project all three views were generated by default anyway so I did not even needed to set the properties. I verified that I can disable one specific view so it does get picked up by the compiler.

Could this be added to https://micronaut-projects.g

[2019-12-19 04:14] rabidgremlin opened #118 "Views aren't being generated"
I'm attempting to include the open API views into my project but having no luck.

As a last resort I have created a test app and am having the same issues. Steps to reproduce:

[code]

Add jvm parameters as documented to build.gradle
[code]

Build the app
[code]

Can see swagger yml file in `META-INF/swagger` but no UI folders under `META-INF`

Have also come across this stackoverflow post from 8

[2019-12-19 06:40] alphawolf1988 commented on #114
@croudet the "required" has a leading dash. In the spec this is not correct, but maybe the solved ticket #117 fixed the problem. I will test it if there is a new release available.

[2019-12-19 06:47] #110 closed

[2019-12-19 07:10] graemerocher commented on #108
Seems a great way to contribute to the project. PRs welcome!

[2019-12-19 09:17] lathspell commented on #108
This should be done by the author of the openapi annotation processor package so that he can explain why we need environment variables and not just variables in the Gradle build file.

BTW, funny thing is that on my Mac at work, the very same git repository only generates the frontend when using your command line. On my Linux at home I was sure that the views for all three frontends were generated

[2019-12-19 09:20] graemerocher commented on #108
The author may have no experience in Kotlin and since this is a Kotlin specific thing who knows who is best placed to contribute this documentation. I doubt very much the author had Kotlin specifically in mind as Micronaut in general is not built just for Koltin.  I also don't know why the Kotlin Gradle integration makes it so difficult to customize compiler arguments (even to a attach a debugger)

[2019-12-19 12:39] croudet commented on #118
What is the version of `micronaut-openapi`?

[2019-12-19 12:40] croudet commented on #114
The properties are just not in the same order, it doesn't matter.

[2019-12-19 19:32] rabidgremlin commented on #118
It would appear to be 1.2.3 ?

[code]

I'm using v1.2.8 of Micronaut.

[2019-12-19 19:33] rabidgremlin commented on #118
Also I can see the system property being passed to the JVM. From my gradle logs...

[code]

[2019-12-19 20:33] croudet commented on #118
Try to use v1.3.3

[2019-12-19 21:55] rabidgremlin commented on #118
That did it...

I changed the my dependency to be
[code]

Should this be updated in the docs ?

[2019-12-19 22:07] croudet commented on #118
The documentation mention version `1.3.3`: https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html

Maybe the bom is not up to date.

[2019-12-20 09:49] puneetbehl commented on #118
Thanks, @croudet I created a PR (https://github.com/micronaut-projects/micronaut-core/pull/2549) to update BOM in micronaut-core to use 1.3.3.

A sidenote I faced a `java.lang.NullPointerException` as reported in https://github.com/micronaut-projects/micronaut-core/issues/2552 while debugging this issue. I think it worked for @rabidgremlin because I think it will only happen when you don't have an

[2019-12-20 10:54] #46 closed

[2019-12-23 07:29] puneetbehl commented on #121
Fixed with https://github.com/micronaut-projects/micronaut-openapi/pull/49 and released as part of `v1.2.0`

[2019-12-23 07:30] #121 closed

[2019-12-23 07:32] #118 closed

[2020-01-07 20:42] willbuck commented on #108
@lathspell has your concern been addressed? Is there anything further needed beyond the PR you graciously submitted?

[2020-01-07 22:58] lathspell commented on #108
Needing to use JAVA_TOOL_OPTIONS to build documentation is ugly. As it's now at least documented you can close this issue. I would be happy to see if the plugin gets somewhen improved though :)

[2020-01-08 00:21] willbuck commented on #108
@lathspell as I understand the issue, I think we're largely constrained by Gradle and Kotlin on this matter, unfortunately. If you encounter more elegant solutions out in the wild though, please share them!

[2020-01-13 08:03] puneetbehl commented on #104
Afaik, It is not possible at the moment to read the intercept-url-map and generate OpenAPI YAML. You need to explicitly configure `SecurityScheme` and `SecurityRequirement` annotation on each endpoint which are secured.

[2020-01-15 21:52] jdaugherty opened #124 "Date Field Examples do not respect Jackson writeDatesAsTimestamps setting"
**Issue**
Date fields that have an example defined are being expanded as if the jackson writeDatesAsTimestamp is set to true.

**How to reproduce**
Example project is located here: https://github.com/jdaugherty/openapi-date-example-issue.  Running ./gradlew check and opening the yaml file will show the birthdate field has an invalid example.  The annotation on the birthdate field in the Pet domain

[2020-01-15 21:55] jdaugherty commented on #124
I suspect this issue is caused by the version of Swagger being used since the latest swagger-core release notes mention example edge cases not being rendered correctly (v2.1.1).  I attempted to upgrade this locally by setting swaggerVersion, but my application failed to run when I ran with a locally built copy.

[2020-01-24 15:53] sjrd218 opened #127 "Swagger generation of groovy pogo objects includes MetaClass ref in the Schema"
When using swagger generation in a Groovy project some of the Groovy models include a ref to a MetaClass object.

This occurs if the models have been defined in a separate project and are being referenced in the micronaut project.

A gradle mulit-project that demonstrates this issue is located here: https://github.com/sjrd218/swagger-gen-bug

Here's the schema portion of the swagger yml that was c

[2020-01-29 13:37] martinanderssondotcom commented on #118
This issue needs to be re-opened as version `1.3.4` is now suffering the same issue; no views generated.

[2020-01-29 13:42] martinanderssondotcom opened #128 "Micronaut's OpenAPI view generation does not insert line breaks"
According to the [`@Info` JavaDocs of Swagger](http://docs.swagger.io/swagger-core/v2.1.1/apidocs/io/swagger/v3/oas/annotations/info/Info.html#description--), CommonMark is supported in the description:

..which is a backslash character according to [this page](https://commonmark.org/help/tutorial/03-paragraphs.html):

I have tried both of these, a backslash and two blank spaces, but Micronaut won

[2020-01-29 13:51] graemerocher commented on #118
@croudet did something change regarding view generation in 1.3.4?

[2020-01-29 14:42] croudet commented on #118
I am using it (java), it works fine.  The only change I can't think of is when you specify a different target file.

[2020-01-29 14:54] croudet commented on #128
It is up to the renderer (rapidoc, swagger-ui) to transform the common mark.

[2020-01-30 07:36] meredrica opened #129 "Description from Javadoc @param not generated when first line is empty"
Given the following Javadoc:
[code]
The generated API doc is correct. However, with this:

[code]

The generated yaml file lacks the description.

Expected:

[code]
Actual:

[code]

[2020-01-30 18:27] croudet commented on #128
I have tested that with swagger-ui and rapidoc on the `description` field of `info` and it works fine.
[code]

[2020-02-06 09:26] outersky opened #130 "POST service: parameter duplicated in Header and body"
## Case 1:

[code]

create2: sessionId will appear twice in both header and body:

[code]

## Case 2

[code]
find1: name is ignored in swagger file, but it's a query parameter by default in micronaut.

[code]

I created a [demo project here](https://github.com/outersky/micronaut-openapi-bug-yml.git)

[2020-02-06 13:47] croudet commented on #130
I am not sure I understand the problem with case 2. `name` does not appear in your uri.

[2020-02-06 14:29] outersky commented on #130
@croudet  For case 2, "name" should be included in parameters:[]

    curl http://localhost:8080/find1?name=outersky

[2020-02-06 15:30] croudet commented on #130
For case #2, I think you still need to declare it in the uri, for instance for a `PathVariable`:
`@Get(/find1/{name})`
or `QueryValue`:
`@Get(/find1{?name}`

[2020-02-06 15:44] outersky commented on #130
I know that will work , just feel like a little bit noisy and result in a lot of work .
As in case 1, both `phone` and `name` need not be annotated, and it will generate the right openapi file.
so I think it might be better if we can recognize the default behaviour in micronaut .

[2020-02-06 19:57] croudet commented on #130
The two merged pull requests should fix both issues.

[2020-02-07 01:31] outersky commented on #130
thanks , but it's still not ok with case #2

[2020-02-07 19:49] StephenOTT opened #134 "param descriptions of data model / responses are not pulled from javadocs (kotlin)"
consider:

[code]

The `@get:Schema(description = "This property identifies if there is more content available based on the search criteria. The absence of this property means the value is false.")` had to be added for the description to be provided.  It was not "auto" pulled from the class' javadoc

[2020-02-07 19:49] StephenOTT commented on #134
Using 1.3.4

[2020-02-07 20:04] StephenOTT opened #135 "Java 8 Instant: Swagger: shows as int64"
as per: https://github.com/micronaut-projects/micronaut-core/pull/1051/files#diff-7d8651bbcaeaf26de54ffc84226d1673R85

Is the proper usage of Instant to be returned as a int64? rather than a date-time (without timezone)

Seems that int64 should be converted to date-time format?

[2020-02-10 12:32] croudet commented on #135
Yes

[2020-02-10 17:32] cristianrgreco commented on #108
Hi, the proposed solutions do not work for me. Micronaut version 1.3.0, Kotlin 1.3.61, Gradle 6.0.1.

Following deps:

[code]

The YAML is correctly created under `/build/tmp/kapt3/classes/main/META-INF/swagger/XXX.yml` but I cannot get Micronaut to generate a UI.

This command does not work any UI:
[code]

Neither does this one but I assume this one works only for Java anyway:
[code]

I've tried

[2020-02-10 18:59] croudet commented on #108
Can you try:
- set in *gradle.properties*
[code]
- then
[code]

[2020-02-10 19:32] cristianrgreco commented on #108
@croudet That worked, thank you! Is there a way we can move this code to the `build.gradle` file?

[code]

[2020-02-10 19:35] croudet commented on #108
I am not sure it is possible, you can try what is suggested here:
https://github.com/micronaut-projects/micronaut-openapi/issues/108#issuecomment-564432223

[2020-02-10 19:36] cristianrgreco commented on #108
Actually it seems gradle is also picking up the properties from the `gradle.properties` file so there's no need to export `JAVA_TOOL_OPTIONS`, just `./gradlew clean compileKotlin --no-daemon` is sufficient.

[2020-02-10 21:28] StephenOTT commented on #135
@croudet I was working on 1.3.4 and still seeing the same int64 in the swagger files.
Based on the examples in the files you linked to, you have to explicitly set the schema for each java date property as "date-time" or is there auto-magic by micronaut openapi to add these based on the type?

[2020-02-11 15:42] croudet commented on #135
Looks like it is how swagger-core handles Instant:

https://github.com/swagger-api/swagger-core/blob/8c815ad9c0bbc1f9e41676175067f5526185f20a/modules/swagger-core/src/main/java/io/swagger/v3/core/util/PrimitiveType.java#L248

[2020-02-11 18:14] #135 closed

[2020-02-11 18:15] #130 closed

[2020-02-11 18:15] #128 closed

[2020-02-11 18:15] #114 closed

[2020-02-11 18:15] StephenOTT commented on #135
The workaround for this is to use add `@Schema(type = "string", format = "date-time")` to the field or wrapping class

[2020-02-11 18:16] #108 closed

[2020-02-11 18:16] #124 closed

[2020-02-11 18:17] graemerocher commented on #135
Seems reasonable. Don’t think we should change swaggers default behavior here

[2020-02-11 18:18] StephenOTT commented on #135
agreed.

[2020-02-11 18:42] StephenOTT commented on #4
for future reference, for this to work with kotlin, you need to have `@field:Schema(name = "field_name")`.  If you just have `@Schema` without the target, it will not update the property names in the yaml/swagger

[2020-02-11 20:05] StephenOTT opened #138 "Support for JsonAnySetter/AnyGetter wrapper classes"
If you have a wrapping class for a Map<String, Any>, there is no model converter to correct the object.  If you had a List<MyWrappingObject>, the swagger produced is

[code]

where myObjects is the field in MyWrappingObject with  @JsonAnySetter and @get:JsonAnyGetter

[2020-02-11 22:14] StephenOTT opened #140 "ArraySchema is not resolving"
Using 1.3.4

[code]

The arraySchema does not generate against the field as the fields description

[2020-02-11 22:15] StephenOTT commented on #140
it seems like the arraySchema is ignored.  If you use @field:Schema it applies

[2020-02-12 11:36] StephenOTT opened #141 "Parameter Constant Values/allowableValues/enum do not get generated"
Consider a Operation on a controller function:

[code]

and the docs show: https://swagger.io/docs/specification/describing-parameters/#constant

But the above code will only generate the following yml

[code]

[2020-02-13 16:06] StephenOTT commented on #140
@croudet any ideas on where the problem may be?  Happy to get a PR going if needed

[2020-02-13 16:25] croudet commented on #140
I am using java and it works:
[code]
Have you tried to remove the nested `arraySchema`?

[2020-02-13 16:29] StephenOTT commented on #140
I will give it a try. But the nested arraySchema is there to describe the list it self, and the schema prop is to define the object(s) types in the list.  So you need both to have descriptions of the list and the lists content

[2020-02-13 21:09] StephenOTT commented on #140
@croudet I have tried with @get:ArraySchema and @field:ArraySchema and no luck.
I have also done with just `schema=` and with just `arraySchema=` and it does not work.

If you change your Long to a pojo, does it still work for you?

[2020-02-13 21:18] StephenOTT commented on #140
@croudet even something like:

[code]

it still fails to generate

yaml looks like:

[code]

[2020-02-13 21:19] croudet commented on #140
I have made a tentative fix in https://github.com/micronaut-projects/micronaut-openapi/pull/142
If you can give it a try.

[2020-02-13 21:20] croudet commented on #140
The fix will only work on classes:
[code]

[2020-02-13 21:23] croudet commented on #140
In controller I usually use `@ApiResponse`:
[code]

[2020-02-13 22:00] StephenOTT commented on #140
Will give it a try.  @croudet possible similar style of issue to the following? https://github.com/micronaut-projects/micronaut-openapi/issues/141

[2020-02-14 15:51] graemerocher commented on #140
@croudet does https://github.com/micronaut-projects/micronaut-openapi/pull/142 resolve this issue?

[2020-02-17 13:20] mikaelvik opened #144 "Micronaut for Spring Boot ignores path on @RestController"
I've created an [example project](https://gitlab.com/mvik-micronaut/mvik-openapi/-/tree/master/mvik-openapi-microboot) using Micronaut to generate OpenAPI yaml for a Spring Boot application.

Micronaut seems to ignore the path specified on `@RestController` annotations when generating the yaml file.

The only Swagger annotation I've used is `@OpenAPIDefinition` on the Micronaut application class (

[2020-02-17 13:41] graemerocher commented on #144
According to https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/bind/annotation/RestController.html

The value of `@RestController` represents the bean name in Spring and not the URI. I believe to get the behaviour you want have to use:

[code]

[2020-02-17 13:53] mikaelvik commented on #144
Sorry for the terrible example code, the problem is also there when using `@RequestMapping`. I've used the same approach on an existing work project where all the `@RequestMapping` paths were ignored.

I've changed the example code, and the path is still being ignored.

[2020-02-17 14:01] mikaelvik commented on #144
The example uses Micronaut 1.3.1 and Spring Boot 2.2.4.RELEASE.

[2020-02-17 14:12] graemerocher commented on #144
From the looks of this, it seems that Micronaut Spring turns `@RequestMapping` into Micronaut's `@UriMapping` here https://github.com/micronaut-projects/micronaut-spring/blob/master/spring-web-annotation/src/main/java/io/micronaut/spring/web/annotation/RequestMappingAnnotationMapper.java#L85

Micronaut OpenAPI only considers the `@Controller` annotation though unfortunately https://github.com/micr

[2020-02-17 14:13] graemerocher commented on #144
In fact since `@Controller` is an alias for `@UrlMapping` in Micronaut https://github.com/micronaut-projects/micronaut-core/blob/7f48aac4c8090974e56d1cc89830cb6b201dc1d2/http/src/main/java/io/micronaut/http/annotation/Controller.java#L58

Probably only `@UriMapping` needs to be considered

[2020-02-17 14:19] mikaelvik commented on #144
I'll give it a try. Thanks for the feedback.

[2020-02-17 17:04] StephenOTT opened #145 "Header Parameters in @Operation do not generate in yml"
using micronaut-open-api 1.3.4

using kotlin 1.3.61

micronaut 1.3.0

consider the following on a controller func

[code]

The Parameters only get generated as:

[code]

The schema is completely skipped.

[2020-02-17 17:35] StephenOTT commented on #138
@croudet any suggestions on  best way to deal with this?
The best i could think of at the moment is to use a custom Schema on the parent property that uses this pojo, but the current generation does not override the pojo impl schema.

[2020-02-17 21:58] mikaelvik commented on #144
PR created: https://github.com/micronaut-projects/micronaut-openapi/pull/150

[2020-02-17 22:03] mikaelvik commented on #144
The fix worked on my example project, that's at least something. Thanks for the pointers.

[2020-02-18 07:26] #144 closed

[2020-02-18 07:30] #145 closed

[2020-02-18 07:31] #129 closed

[2020-02-18 14:09] #57 closed

[2020-02-18 16:32] graemerocher commented on #144
@mikaelvik you can try the just release `1.4.0` version in your project. Let us know how it goes. Hope you write a blog post about what you are doing, seems really interesting :)

[2020-02-19 01:27] StephenOTT opened #154 "Kotlin build with gradle as a task?"
Given the following https://github.com/micronaut-projects/micronaut-openapi/commit/8580053fa8eba6ef7240ebcf32124bb570202f18#diff-be736fa0603c7b3afef21219b6a05e38

Is there a solution to running this as a regular build task? It seems you cant run this within a ide like Intellij as a regular build task.  You have to run it manually through terminal.

[2020-02-19 01:38] StephenOTT opened #155 "1.4.0: Exploded query params should not be auto-generated as a object query param"
microanut 1.3.0
kotlin 1.3.61
micronaut open api 1.4.0

consider the following

[code]

The exploded query params as part of the 1.4.0 started to get generated as

[code]

Should there is a additional annotation to indicate parameters to ignore in the micronaut auto get of the openapi yml?  As the Parameters config in the Operation annotation has all of the specific details..

[2020-02-19 01:49] StephenOTT commented on #141
this appears to be solved in 1.4.0

[2020-02-19 01:49] #141 closed

[2020-02-19 01:58] StephenOTT commented on #140
appears to still be broken in 1.4.0

[code]

only generates

[code]

descriptions for the field, and description for the items in the list do not generate.

[2020-02-19 12:58] croudet commented on #140
Just tested the with the following class
[code]
And the generated yaml looks good to me:
[code]

[2020-02-19 13:08] mikaelvik commented on #144
The release worked perfectly, thanks. Looking forward to the next final release of Micronaut.

I'm not much of a blogger, but I'd be happy to contribute with a section to the docs. The idea is to use a separate source set for the openapi stuff to avoid leaking dependencies into the classpath of the Spring Boot application.

[2020-02-19 13:08] graemerocher commented on #144
@mikaelvik sounds good

[2020-02-19 13:23] croudet commented on #155
Have you tried to annotate it with `@Hidden`?

[2020-02-19 13:24] croudet commented on #154
This is only mandatory if you want to use views (swagger-ui, ...)

[2020-02-19 13:27] croudet commented on #154
if you want to generate views with 1.4.0, you can create a file `openapi.properties` at the root level of your project dir.
[code]

[2020-02-19 22:07] StephenOTT commented on #154
Thanks. Works in 1.4.0

[2020-02-19 22:08] StephenOTT commented on #154
Would like a PR for docs update?

[2020-02-19 22:12] StephenOTT commented on #140
Issue was missing the field target

[2020-02-19 22:12] #140 closed

[2020-02-19 22:12] StephenOTT commented on #140
Guess should have docs update to use field target on kotlin annotations

[2020-02-19 22:54] croudet commented on #154
I think the doc is up to date, but if you find something missing PRs ar welcome.

[2020-02-19 23:11] StephenOTT commented on #155
Hidden was not required: hidden can't actually be used on a param.

The issue is with definition of parameters within the Operation annotation vs using the Parameters annotation at the fiction level.

If you use the Parameters annotation at the top level, the queryValue is shown. But if you use the Operation annotation and define the parameters inside of that annotation, then it works as expected.

[2020-02-19 23:13] #154 closed

[2020-02-19 23:23] StephenOTT commented on #138
I think the "solution" for this is to recommend applying the `@field:Hidden` annotation on the single property

[2020-02-20 16:56] miguelbaldi commented on #108
@graemerocher @croudet  I've baking a patch to make use of APT arguments and enable kotlin to configure openapi extension in the build script instead of using environment variable. I was planning to link to this issue. Should we reopen this issue or should we create another one?

[2020-02-20 17:22] croudet commented on #108
@miguelbaldi I think everything have been taking care.
Currently `micronaut-openapi` is compatible with all version of  `micronaut-core`, so I made a PR
https://github.com/micronaut-projects/micronaut-core/pull/2779 to keep it like that.
And `@SupportedOptions` have been added to the project.

So it will work with system properties and annotation processor options.

[2020-02-20 17:32] miguelbaldi commented on #108
Ok, but with kotlin does not work with APT options (only environment variable). My patch address that issue. At least with `openapi.properties` everything works fine with kotlin too!

Thanks @croudet !

[2020-02-20 19:16] croudet commented on #108
I don't know kotlin, but https://kotlinlang.org/docs/reference/kapt.html#annotation-processor-arguments is this the way to pass annotation processor options?

[2020-02-20 19:18] croudet commented on #108
I took a look at your branch, it requires micronaut-core v2. I don't know if it is the way we want it.

[2020-02-20 19:49] miguelbaldi commented on #108
Exactly, it depends on commit https://github.com/micronaut-projects/micronaut-core/pull/2702

Current version is not taking APT arguments, only environment variable or openapi.properties (https://github.com/micronaut-projects/micronaut-openapi/blob/521b864645f711a60dabbcee208ddc8685436eec/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiApplicationVisitor.java#L313), if you look at my for

[2020-02-20 19:51] croudet commented on #108
It will work with https://github.com/micronaut-projects/micronaut-core/pull/2779 that puts annotation processor options in system properties.

[2020-02-22 17:53] zokica8 opened #156 "Adding /login endpoint to Open API"
Is there a way to add a /login endpoint generated by Micronaut itself with login enabled true in application.yml to Swagger Documentation?

[2020-02-24 09:56] tqad opened #157 "Inherited Annotations Tags and Body are ignored"
Since micronaut-open-api 1.3.4 inherited Annotations Tags and Body are ignored.

micronaut-open-api 1.3.4
micronaut 1.3.0

consider the following interface:
[code]
consider the following controller:
[code]

The resulting yml in Version 1.3.4 is:
[code]

Before (Version 1.2.3) it was :
[code]

[2020-02-25 14:40] zdegner opened #160 "Error loading service com/fasterxml/jackson/datatype/jsr310/JavaTimeModule"
I'm wondering if anyone has any ideas how to work past this compilation error:

[code]

This error started occurring after updating to the latest version of Micronaut (1.2.8 -> 1.3.2). It prevents compilation of the application. However, the error goes away if I remove the annotationProcessor "io.micronaut.configuration:micronaut-openapi".

I've confirmed the jackson JSR310 library is on the class

[2020-02-25 17:24] croudet commented on #160
Try to run gradle with `--stacktrace`

[2020-02-25 19:47] zdegner commented on #160
Adding `--stacktrace` does not provide any additional information in this case. It print out an exception indicating only that compiling failed. It seems that the detailed inner exception is swallowed by TypeElementVisitorProcessor:

https://github.com/micronaut-projects/micronaut-core/blob/f1480baba9d657d76479846871b61557019c1417/inject-java/src/main/java/io/micronaut/annotation/processing/TypeEl

[2020-02-25 20:16] croudet commented on #160
Can you set up an example and upload it to github?

[2020-02-26 12:39] adamkobor commented on #108
Sorry for nagging about this again, but it's not clear to me, what is the working solution for the problem described above. I've made it to work in one of our projects (Kotlin + Gradle), but now I can't do it to an other the same way, so I think that the first one was only a lucky mistake after trying several approaches randomly :D
Micronaut version: 1.3.2, micronaut-openapi: 1.4.0

[2020-02-26 12:40] #157 closed

[2020-02-26 12:58] croudet commented on #108
You can create a file `openapi.properties` at the root of your project.

[2020-02-26 16:11] rdesgroppes opened #161 "NullPointerException since micronaut-bom 1.3.2 (micronaut-openapi 1.4.0)"
Hi,
Here's what we get when bumping the micronaut-bom version from 1.3.1 to 1.3.2 (micronaut-openapi from 1.3.4 to 1.4.0):
[code]

[2020-02-26 20:58] croudet commented on #161
Can you provide an example that repoduces the problem?

Thanks

[2020-03-02 01:10] thecodesmith commented on #118
I had this same issue (views not being generated) after following the setup here: https://micronaut-projects.github.io/micronaut-openapi/1.4.0/guide/index.html. I was able to resolve it by adding this dependency:
[code]
This was for a Groovy Micronaut app. I didn't see any reference to the above dependency in the docs, I just happened to notice it in a random GitHub repo. Should it be added to the

[2020-03-02 01:46] thecodesmith commented on #118
Actually, I just figured out the issue on my side (at least part of it). I had the Gradle build cache enabled, but the cache for the `compileGroovy` task doesn't know about the `swagger` output directory, so it doesn't add it to the cached output. I fixed it in my `build.gradle` by adding the `swagger` output dir to the main source set:
[code]
With this setup, it works without the `micronaut-views

[2020-03-04 08:49] #161 closed

[2020-03-04 09:20] brunodomenici opened #166 "Not resolving Micronaut config values in Controller annotation"
Hi,

I have some config in my `@Controller` annotation, like this:

[code]

And my OpenAPI is being generated like this:

[code]

I believe that correct would be:

[code]
Because I've stetted `${applications.api.version}` to 1:

Micronaut works fine, I'm able to resolve the controller `/v1/applications`.

Thanks a lot and great project!

[2020-03-04 10:00] rdesgroppes commented on #161
@graemerocher sorry for the delay.
Here's indeed what I found:
[code]
... where `getEnum` returns `null` for the following schema:
[code]

`schemaToBind` is:
[code]

[2020-03-04 12:54] croudet commented on #166
These placeholders are runtime configuration flags. They cannot be resolved at compilation time.

[2020-03-04 13:39] graemerocher commented on #166
OpenAPI spec does have something called server variables, wonder if it is possible to translate this syntax to those.

[2020-03-04 14:00] sven-kanoshin commented on #160
Hello.

We had the same issue. Spent quite a few hours trying to find the cause and hankfully the mentioned source code lines helped me to finally find the place to debug.
For our code, it was a NoClassDefFound for the reason that "jackson-datatype-jsr310" was not on the "annotationProcessor" profile. It was on the classpath, as per OP, but that wasn't sufficient. (Since I think the annotation pro

[2020-03-05 10:25] leenanimbekar opened #167 "Add support for adding extensions under path"
openapi supports adding extensions under path as well, but with micronaut-openapi, not able to add one. Need to add extension under path as given here https://help.apiary.io/api_101/swagger-extensions/ .

expected :
[code]
actual:
[code]

[2020-03-05 14:34] croudet commented on #166
Or you can use a server context path with an HttpFiler: https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#openApiViews

[2020-03-05 14:39] croudet commented on #167
Can you show the annotation mapping?

[2020-03-05 14:41] graemerocher commented on #166
Another alternative could be to allow `applications.api.version` to be specified in `openapi.properties`. Would mean duplicating one property but I don't think that is a huge deal.

[2020-03-05 19:49] croudet commented on #166
I have tested a dirty hack, where the spec file is parsed, placeholders resolved and then served:
https://gist.github.com/croudet/d41cfd69021257948c550cac08f13528

[2020-03-06 09:41] leenanimbekar commented on #167
[code]

[2020-03-06 14:49] croudet commented on #167
I don't think it is currently possible to do it with annotation, see swagger tests:

- https://github.com/swagger-api/swagger-core/blob/1e38c2828809e330b830398fae41fc7bea7c14ac/modules/swagger-jaxrs2/src/test/java/io/swagger/v3/jaxrs2/ReaderTest.java#L527
- https://github.com/swagger-api/swagger-core/blob/26d72bf5fd2d54e5e514ddcf3861d125d2f95b42/modules/swagger-jaxrs2/src/test/java/io/swagger/v3/j

[2020-03-09 17:41] govi20 opened #169 "Swagger-ui views is not getting created in maven based project, with gradle it's working fine"
I have two identical application running on micronaut 1.3.2 https://github.com/govi20/micronaut-swagger

from the above URL, **my-openapi-app** application uses Gradle and my-openapi-app2 uses maven. Gradle based application is working fine whereas, Maven-based application swagger-ui views/index.html is not getting created.

[2020-03-09 18:01] govi20 commented on #169
Seems to be version mismatch issue

[2020-03-09 18:01] #169 closed

[2020-03-11 09:28] leenanimbekar commented on #167
Can this be added ?

[2020-03-11 12:12] croudet commented on #167
You should ask this on a swagger forum.

[2020-03-18 15:16] gkarnik05 commented on #24
In Asp.Net core, the following 2 lines helped to generate Swagger UI schema in snake case:
services.AddMvc()
             .AddNewtonsoftJson(x =>
             {
                 x.SerializerSettings.ContractResolver = new DefaultContractResolver
                 {
                     NamingStrategy = new SnakeCaseNamingStrategy()
                 };
             });
services.AddSwaggerGenNewtonso

[2020-03-20 20:10] abedurftig commented on #157
Hello Micronaut-Team,

thanks for all the work you guys are doing on the different Micronaut projects.

I find that this issues has not been fixed in 1.4.1.

While putting the @Tag annotation on the controller directly it works.

[code]

It produces:

[code]

This does not work:

[code]
It produces:

[code]

In addition there seem to be differences how the @Produces and the @ApiResponses annotatio

[2020-03-24 14:11] croudet commented on #157
Hello,

I have added a test case (in java, not kotlin), and it pass.
https://github.com/micronaut-projects/micronaut-openapi/pull/173

@abedurftig Can you check that the test case is your use case?

[2020-03-25 17:02] pditommaso opened #175 "Schema.oneOf annotation is ignored"
As Micronaut is supporting Swagger `@Schema` annotation, it's expected the when using the `oneOf` property the corresponding definition is generated.

For example:

https://github.com/pditommaso/mn-openapi-oneof/blob/master/src/main/groovy/mn/openapi1/MyResponse.groovy#L7-L11

However corresponding metadata is generated, see

https://github.com/pditommaso/mn-openapi-oneof/blob/7d2588357668da3a14d5

[2020-03-25 18:04] croudet commented on #175
Can you try to add a test case to the project that reproduce the issue.

[2020-03-25 18:19] pditommaso commented on #175
Not familiar with MN testing system, sorry.

[2020-03-25 20:18] croudet commented on #175
It will help to know if it is a groovy only issue. Can you try to reproduce with Java?

[2020-03-26 06:52] pditommaso commented on #175
Ok, let me try .

[2020-03-26 08:23] pditommaso commented on #175
It provides even less meta info

Java version [here](https://github.com/pditommaso/mn-openapi-java/blob/master/build/classes/java/main/META-INF/swagger/mn-openapi1-0.0.yml)

Groovy version [here](https://github.com/pditommaso/mn-openapi-oneof/blob/master/build/classes/groovy/main/META-INF/swagger/mn-openapi1-0.0.yml)

[2020-03-26 13:37] croudet commented on #175
Thanks.

I have modified a bit your classes:
[code]
[code]

generated yaml looks good with those modifications.

[2020-03-26 13:52] pditommaso commented on #175
Gotcha. it also works for the groovy implementation. However should not also work when specifying the `Schema.oneOf` directly in the attribute. Looking at the definition of the annotation it should be allowed.

[2020-03-26 14:01] croudet commented on #175
I am not enough of an expert to say.

[2020-03-26 14:02] pditommaso commented on #175
Thanks for the feedback so far!

[2020-04-02 10:17] dancarasco opened #184 "Optional path parameters are always set to required"
Optional path parameters {/example} are not respected in the yaml output.

![Screenshot from 2020-04-02 11-14-28](https://user-images.githubusercontent.com/49026110/78237493-4e5f2080-74d3-11ea-8940-d9ceabedd979.png)

This results in Swagger UI preventing any request with optional parameters to be made until all parameter requirements are met. It doesn't seem to be able to parse the optional syntax

[2020-04-02 13:27] croudet commented on #184
Please show your controller method.

[2020-04-02 13:30] dancarasco commented on #184
Interface:

![Screenshot from 2020-04-02 14-30-17](https://user-images.githubusercontent.com/49026110/78254904-7f991a00-74ee-11ea-9a8e-8e3208c3e225.png)

Implementation:

![Screenshot from 2020-04-02 14-30-37](https://user-images.githubusercontent.com/49026110/78254950-8e7fcc80-74ee-11ea-9307-c95b8bfbf5d7.png)

[2020-04-02 13:43] croudet commented on #184
What is the version of micronaut-openapi?

[2020-04-02 13:55] #19 closed

[2020-04-02 14:05] dancarasco commented on #184
_gradle.properties_
`micronautVersion=1.3.3`

_build.gradle_
[code]

[2020-04-02 14:32] croudet commented on #184
https://github.com/swagger-api/swagger-core/blob/ffd172052abb2578332592f9d743e4d73366d612/modules/swagger-models/src/main/java/io/swagger/v3/oas/models/parameters/Parameter.java#L105
[code]
Required is always set to true when parameter is in path

[2020-04-02 15:27] dancarasco commented on #184
@croudet This effectively makes this API unusable with Micronaut since optional path parameters are supported by the latter, and used quite commonly.

[2020-04-06 13:58] #127 closed

[2020-04-09 10:18] gabordicso opened #193 "Incorrect schema reference when extending a generic controller"
The generated OpenAPI definition .yml contains an incorrect schema reference when extending a generic controller, unless the endpoint method is explicitly overridden in the child class. See the example below. The method uri is specified in the base class method's Get annotation, but the Controller path is specified in the Controller annotation of the child class, so for the endpoint path construct

[2020-04-09 21:28] StephenOTT opened #195 "Adding Exceptions?"
Is it possible to have exceptions be added when using the `@Error` micronaut annotation?
Or is there another helper provided?

The goal would be to have the defined exceptions without having to add all of the typical openapi annotations and scheme annotations

[2020-04-09 21:30] StephenOTT opened #196 "micronaut.openapi.target.file usage and implications?"
What are the usage and implications of using micronaut.openapi.target.file?

Assuming it is used, it would seem to mean much of the other sections of the docs become irrelevant because the files are outside of the jar?

[2020-04-12 12:28] abedurftig commented on #157
@croudet, I am sorry I only get back to you now (my daughter was born). That is my use-case. But I don't use Java. It's not the end of the world. Thanks for checking.

[2020-04-12 15:26] croudet commented on #157
No problem. The problem should be fixed with Kotlin.

[2020-04-13 17:35] StephenOTT opened #197 "Add support for swagger generation of enabled Micronaut Security Endpoints"
Such as login, refresh, etc.

[2020-04-15 21:28] ctoestreich opened #202 "Post operation incorrectly treats param as body"
[code]

In the above code with micronaut 1.3.4 and micronaut-openapi 1.4.1 the generated swagger is forcing the last param to be a body for the post even though it is annotated for query.

[code]

[2020-04-15 23:01] croudet commented on #202
Can you try with 1.4.3

[2020-04-15 23:04] croudet commented on #202
With 1.4.3 I got:
[code]
[code]

[2020-04-16 11:19] frangarcia commented on #141
I am not sure this have been properly fixed. I am having the same issue with this parameter

`@Parameter(name = 'order', schema = @Schema(implementation = String.class, allowableValues = ["asc","desc"]))`

I have those dependencies

[code]

[2020-04-16 13:24] ctoestreich commented on #202
This is also working now in 1.4.3 for me

[2020-04-16 13:24] #202 closed

[2020-04-19 10:41] graemerocher opened #204 "Bad option name error with 1.4.4"
Error:

[code]

Steps to reproduce:

[code]

Edit version in `starter-api/build.gradle` and set to 1.4.4

[code]

[2020-04-19 19:37] #204 closed

[2020-04-20 16:28] stottpaul opened #206 "Add openapi support for Jackson's JsonUnwrapped annotation"
We would like the generated openAPI schemas to honour the JsonUnwrapped annotation.

This support was added to swagger-core a couple of years ago via https://github.com/swagger-api/swagger-core/issues/1682

JsonUnwrapped allows us to encapsulate common property sets so they can be reused across multiple response schema types and flattened in the openApi schema spec.

[2020-04-21 11:47] istvanszoboszlai commented on #193
Hello, is there something blocking with fixing this issue? Do you guys need help?

[2020-04-21 12:20] graemerocher commented on #193
@croudet is https://github.com/micronaut-projects/micronaut-core/pull/3069 related?

[2020-04-21 12:28] croudet commented on #193
In some way it is. As some classes and mehtods are visited when they don't have the required annotation or when overriden methods are also processed.

The other part of the problem I thin is this call:
https://github.com/micronaut-projects/micronaut-openapi/blob/b0b45ab9230100bd8aa404e61dc9db3ee5a5eb74/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiControllerVisitor.java#L223
I think it

[2020-04-21 12:44] graemerocher commented on #193
I haven't merged micronaut-projects/micronaut-core#3069  yet because I need to verify it doesn't break Micronaut Data

[2020-04-21 14:14] croudet commented on #193
[code]

Micronaut 1.3.4 + PR
[code]

Micronaut 1.3.4
[code]

- base class processed (no `@Controller` anntotation)
- overriden methods processed
- owningType not correct for `getOnlyFromB`
- owningType not correct for `postFromBaseWithAnnot`
- declaringType and owningType may not be correct for `getFromBaseNoAnnot`, `getFromBaseWithAnnotOverride` and `getFromBaseWithNoAnnotOverride`

Micronaut 1.1

[2020-04-28 18:51] drmaas opened #209 "suspending GET controller function adds erroneous pX query parameter to swagger spec"
This controller:

[code]

Yields the following in the spec:

[code]

Notice the `p1` variable. No idea where this came from. It only occurs for GET methods.

[code]

If I add this:
[code]
then the erroneous parameter name changes to `p2`.

The solution is that `pX` does not appear in the spec.

[2020-04-28 19:35] drmaas commented on #209
This seems to be related to https://github.com/micronaut-projects/micronaut-openapi/issues/130 - I think due to the "suspend" there is an additional method element present that defaults to query parameter - when actually it should be ignored.

[2020-04-28 23:47] croudet commented on #209
Can you create a test case?

[2020-04-29 07:20] graemerocher commented on #206
Resolved by the awesome contributions of @croudet

[2020-04-29 07:20] #206 closed

[2020-05-03 13:31] ftes opened #212 "Per-endpint security not output to openapi.yml"
I have a spec with a global/root `security` configuration.
OpenAPI 3 allows overriding `security` per endpoint.
But per-endpoint `security` definitions are not added to the `path` in the generated .yml file.

I define them on path level via an annotation on the controller method: `@Operation(security = [])`.

# Input
`Application.kt`
[code]

`UserController.kt`
[code]

# Output
[code]

# Expected

[2020-05-03 16:10] croudet commented on #212
Lokks fine to me.
You define spec level security so it appears at spec level in the yaml.
See https://github.com/swagger-api/swagger-core/blob/26d72bf5fd2d54e5e514ddcf3861d125d2f95b42/modules/swagger-jaxrs2/src/test/java/io/swagger/v3/jaxrs2/annotations/security/SecurityTest.java#L116

[2020-05-03 20:56] ftes commented on #212
Thanks for looking into this so quickly.

I don't see any method/path level security annotation in the test case. That's where my problem lies:
`@Operation(security = [])`

https://swagger.io/docs/specification/authentication/

[2020-05-04 08:38] ftes opened #215 "@ApiResponse overwrites default response"
The response generated by default, derived from the path methods return type, is helpful.

I want to add an  `@ApiResponse` annotation to describe an additional error response.

However, if I add that annotation, the generated openapi spec no longer contains the default response.

**Workaround:** Add an additional `@ApiResponse` annotation for the default response.

**Ideally:** The default respon

[2020-05-04 09:30] graemerocher commented on #215
I don't believe this is desirable behaviour. Being able to override is a feature and also useful on occasion when the autogenerated spec is not correct

[2020-05-04 16:01] drmaas commented on #209
@croudet do you still need the test case? Looks like you figured out the issue.

[2020-05-04 16:02] croudet commented on #209
It would be nice to add a test case to the project.

[2020-05-05 08:56] sumitaneja opened #220 "Annotation processor fails if method annotation contains multiple uris and not single uri"
Controller method annotated like below gives compile error
**Path variable name: 'pv' not found in path.**

**@Post(uris = {
            "/abc/xyz/{pv}/sth",
            "/abc/efg/{pv}/sth"
    })**

below works
**@Post(uri = {
            "/abc/xyz/{pv}/sth")**

[2020-05-05 12:14] sujithcphilip opened #221 "Schema implementation for generic class"
Is there a way to set schema for an ApiResponse with generic class
Ref: https://github.com/swagger-api/swagger-core/issues/498

[code]

For Spring, I think they support the below solution
[code]

Is there a micronaut equivalent for
[code]

[2020-05-05 15:49] croudet commented on #221
Use `ApiResponse`:
[code]

[2020-05-06 08:09] #220 closed

[2020-05-06 08:10] #209 closed

[2020-05-06 08:11] #221 closed

[2020-05-06 08:11] #215 closed

[2020-05-06 08:12] #212 closed

[2020-05-06 08:13] graemerocher commented on #184
You can always add `@Parameter(required=false)` as a workaround to the parameter in question

[2020-05-06 10:43] ftes commented on #212
Thank you!

[2020-05-06 11:18] dancarasco commented on #184
Thank you!

[2020-05-06 11:18] #184 closed

[2020-05-07 13:33] brianwyka opened #225 "Support for Multiple OpenAPI Definitions"
It would be nice to support multiple OpenAPI definitions.

For Example, I may have 2 different controllers with different sets of operations, and I want to divide these into multiple definitions.

[2020-05-08 09:55] tqad commented on #157
@croudet Hi, I have again the Problem with inherited Tag Annotation
micronaut-openapi:1.5.0
micronautVersion=1.3.4

I'm using Java 1.8
Could you please re-test?

[2020-05-08 12:28] croudet commented on #157
@tqad Please add a test case.

[2020-05-09 17:32] tqad commented on #157
Hi, I'm not sure how to share my demo project.
https://github.com/tqad/mn-openapi-tags

[2020-05-11 07:01] graemerocher commented on #225
The way to achieve this would be 2 different modules in a multi project build

[2020-05-11 12:17] brianwyka commented on #225
Thanks for the tip @graemerocher .  Would there need to be 2 different application contexts then?

[2020-05-11 13:03] graemerocher commented on #225
No you can have `module1` and `module2` then an `app` module that depends on the 2 modules that contains your `Application` class with the main method to run it.

[2020-05-11 13:20] brianwyka commented on #225
Perfect, thanks.

[2020-05-13 11:55] hberrayana commented on #118
I'm having now the same issue with Micronaut 2.0.0.M3 with an application generated by https://launch.micronaut.io/

[2020-05-13 12:03] graemerocher commented on #118
@hberrayana please report a separate issue with steps to reproduce. Thanks

[2020-05-14 09:33] hberrayana commented on #118
@graemerocher I got it while generating with other dependencies from the starter but was unable to reproduce. I'll report it in a separate issue when I get a clear scenario.

[2020-05-14 09:45] graemerocher commented on #118
Thanks!

[2020-05-20 01:55] magJ commented on #124
Do you really have to annotate every date in your application to define how it's serialised in the openapi spec, or is there a simple way to define it globally?

[2020-05-21 23:30] csbiggar opened #234 "Kotlin suspend functions generate response schema of Object rather than specific type"
When using micronaut-openapi to generate a swagger spec for a kotlin suspend function, the response type is not being recognised, instead it's being generated as Object always.

I think this is simlar to #209 where it's picking up on something kotlin-y under the covers?

Please see this fork for an example, details in the readme:
https://github.com/csbiggar/creating-your-first-micronaut-app-kotlin

[2020-06-01 14:46] JoaoRXFernandes opened #238 "(some of the times) micronaut-openapi:1.5.0 generates swagger specifications for non-controller classes"
There seems to be an issue with "io.micronaut.configuration:micronaut-openapi:1.5.0" where it generates swagger specifications for non-controller classes (i.e.: http client classes that make use of io.micronaut.http.annotation.Get and/or io.micronaut.http.annotation.Header annotations).

To replicate, create a micronaut solution with an http api controller, an http client class and run the followi

[2020-06-01 23:26] jacobmims opened #239 "Views do not respect "micronaut.openapi.target.file" filename"
When setting a custom filename and output path for the spec generator using the `micronaut.openapi.target.file` property and enabling the UI views, the view fails to render because it cannot find the default filename.

Even with the static resource paths set to the custom directory, the views are still expecting the file to be named `{lower-case-document-title}-{version}.yml`.

[2020-06-02 12:38] nfode opened #240 "Required property names are not translated when naming strategy is changed"
I changed the property naming strategy to `SNAKE_CASE` with the following setting:
`micronaut.openapi.property.naming.strategy=SNAKE_CASE`

Property names are now correctly translated to `SNAKE_CASE`, but if they are required their corresponding entries in the required list are not (See the example below).

Example:
[code]

I checked the code and found no code for required entries naming translati

[2020-06-02 14:15] nfode opened #241 "LOWER_CAMEL_CASE strategy does not work"
I tried to use the `LOWER_CAMEL_CASE` but then I get an exception when I run `gradle kaptKotlin`:

[code]

I looked into the code and found the problem here:

[code]
([link](https://github.com/micronaut-projects/micronaut-openapi/blob/1a52a2e782380cbfae44be3719819e84518b2ebd/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiApplicationVisitor.java#L335))

The case is a bug since `PropertyN

[2020-06-02 16:44] jacobmims commented on #239
@croudet Thank you for the quick 👀  on this issue. I just wanted to bring up the fairly common edge case of putting a path in the `micronaut.openapi.target.file` property to put it into a directory within the project. (eg., `openapi/openapi-config.yml` or something similar). Ideally, `micronaut.openapi.target.file` would be split into a path/directory property and a filename property, but if it wi

[2020-06-03 06:43] #234 closed

[2020-06-03 06:44] #240 closed

[2020-06-03 06:44] #241 closed

[2020-06-03 10:15] #239 closed

[2020-06-04 05:02] magJ commented on #104
Would be nice if the annotation processor could recognise "io.micronaut.security.annotation.Secured" annotations and configure security requirement scopes, rather than having to duplicate it with `SecurityRequirement`

[2020-06-04 10:23] csbiggar commented on #234
Hello, thanks for investigating ... but ... I've upgraded to 1.5.1 and this is still not working.

I've just pushed the upgrade to my example project above (and upgraded micronaut in it to 1.3.5 and kotlin to 1.3.72, just to be sure) , and you can follow the same steps to recreated in the readme and see it still failing.

Could you take another look?

[2020-06-04 10:37] csbiggar commented on #238
We are seeing this too, and it's non deterministic - sometimes it works (no spurious endpoints created for non controller classes) and sometimes it doesn't (spurious endpoints created)  , on successive builds with no code changes.

[2020-06-04 10:45] graemerocher commented on #238
Would be helpful if someone attached an example application that reproduces the issue

[2020-06-04 10:52] csbiggar commented on #238
Yep, I can't share my work one where we're seeing it but I'll see if I can recreate it with a sample project. Tricky due to the non-deterministic nature grr ... will hopefully update later or tomorrow

[2020-06-04 10:57] graemerocher commented on #238
Thanks, any help would be appreciated

[2020-06-04 11:52] croudet commented on #238
What version of micronaut-core are you using?

[2020-06-04 12:30] csbiggar commented on #238
We're using 1.3.5
We've just upgraded to micronaut-openapi 1.5.1 (from 1.5.0) today and also as a workaround we've added `@Hidden` to the client endpoints to see if that forces it to ignore them .. we haven't had enough builds yet to see if it's made a difference

[2020-06-04 13:00] croudet commented on #238
Is it with java or kotlin?

[2020-06-04 13:16] csbiggar commented on #238
sorry, it's with Kotlin (1.3.61 at the moment)

[2020-06-04 13:51] JoaoRXFernandes commented on #238
This was with micronaut-bom:1.3.5
Had to downgrade to io.micronaut.configuration:micronaut-openapi:1.4.5

Running the above from original report reproduces the issue every run.

Think the issue might be that the controller class level filter is not being applied anymore? (can't take credit for that)

Hope that helps,

Joao

[2020-06-04 14:45] stottpaul opened #249 "Add path ordering to open-api generated spec"
We would like to be able to move our deprecated paths to the bottom of the swagger-ui pages, however there does not appear to be a way to control the ordering of the paths within the generated open-api specification.   In fact it appears to be non-deterministic at present as the ordering changes frequently upon build.

[2020-06-04 20:16] croudet commented on #238
Ok, I was able to reproduced the issue and to narrow down the problem.
Problem is in `micronaut-core`:
[code]

Sometimes `GenericTypeUtils.resolveInterfaceTypeArguments(aClass, TypeElementVisitor.class);` returns an empty array, some trace I put:
Good:
[code]
Bad:
[code]

So I will propos a PR:
in `GenericTypeUtils`:
[code]
I will replace `HashSet` with `LinkedHashSet` so that the most 'specialize

[2020-06-04 20:42] croudet commented on #249
Rapidoc has `sort-tags` and `sort-endoints-by` options.
https://mrin9.github.io/RapiDoc/api.html

[2020-06-04 22:26] csbiggar commented on #238
Oh brilliant, well done! (Doubly pleased as now I don't have to come up with an example project ;)

Will look out for the release with the fix. Many thanks

[2020-06-08 16:37] istvanszoboszlai commented on #193
Hello, is there any workaround right now to have correct openapi yaml generated when using generic controllers, or is the only solution to wait for micronaut-projects/micronaut-core#3069 to get merged?

[2020-06-08 16:59] croudet commented on #193
Have you tried with latest version: micronaut-core-1.3.6 and micronaut-openapi:1.5.1

[2020-06-09 10:41] istvanszoboszlai commented on #193
Oh, great, thanks for the question. The example in the original question does work with micronaut-core-1.3.6 and micronaut-openapi:1.5.1.

Our code, however,  where we use micronaut openapi does now work yet. In our case the indirection is even more complicated, so I will take a look what goes wrong there, and post it If I find the cause.

It does look promising!

[2020-06-09 12:14] istvanszoboszlai commented on #193
Okay I have found the problem.
In our project, we have `Single<List<T>>` return types of some methods. In that case the Parent object will be used in the reference. `List<T>` and `Single<T>` both work. I guess the generic type of a generic type is "too much" right now.

I also noticed that if a controller method has a generic paremeter like:
[code]
the concrete type of E will also not be inferred.

[2020-06-09 14:18] croudet commented on #193
Yes it would help. Both options are fine.

[2020-06-09 17:53] csbiggar opened #255 "Kotlin suspend functions generate response schema of Object rather than specific type (still)"
(Re-reporting #234 as I can still recreate the issue)

When using micronaut-openapi to generate a swagger spec for a kotlin suspend function, the response type is not being recognised, instead it's being generated as Object always.

Please see this fork for an example - details of how to reproduce the error are in the readme:
https://github.com/csbiggar/creating-your-first-micronaut-app-kotlin

Th

[2020-06-09 19:04] croudet commented on #255
Working fine on my side:
[code]

[2020-06-09 19:25] csbiggar commented on #255
Hmm! That is very weird. It doesn't work for me :

[code]

![image](https://user-images.githubusercontent.com/14541644/84190372-bbbc9e00-aa8e-11ea-81e1-f3e029aa3970.png)

[2020-06-09 19:27] csbiggar commented on #255
What else could be different :thinking:  ?

I'm running on
[code]

Ubuntu 18.04

It would be pretty surprising if that was making a difference though? Unless it's something that flaps ?  I've consistently got Object every time but maybe I've just been (un)lucky

[2020-06-09 19:30] croudet commented on #255
Check on the file system: `less ./complete/build/tmp/kapt3/classes/main/META-INF/swagger/hello-world-0.0.yml`

[2020-06-09 20:57] markjfisher commented on #255
I've just downloaded the project and compiled it, the file is wrong for me too:

    ...
    /hello/suspend/{name}:
      get:
        operationId: helloSuspend
        parameters:
          - name: name
            in: path
            required: true
            schema:
              type: string
        responses:
          default:
            description: helloSuspend default response

[2020-06-09 21:18] markjfisher commented on #255
I've just upgrade the project to Micronaut 1.3.6 and it is consistently working now.

[2020-06-09 21:28] croudet commented on #255
Yes it works with 1.3.6

[2020-06-09 21:31] csbiggar commented on #255
Yeah, it's definitely wrong there too, sorry I should have included that

This fixes it for me too!

Brill, will upgrade our project. Bit confused as to why you didn't see the error with 1.3.5 and we did, but :woman_shrugging:

[2020-06-09 22:05] croudet commented on #255
It is because my 1.3.5 jar is patched with the fix from 1.3.6, sorry.

I will propose a PR to fix this on micronaut-openapi side.

[2020-06-10 06:31] #238 closed

[2020-06-15 08:01] bjonnhy opened #259 "Schema generation for subclasses with generics"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone referenced repo
2. Run ./gradlew openapiCopy
3. Open __projectRoot__/build/openapi/swagger/api*.yml

### Expected Behaviour

I'd expect the generated specs to l

[2020-06-16 14:31] croudet commented on #259
Can you tell me what (swagger-ui?) triggers the error?

[2020-06-16 14:38] croudet commented on #259
Your `TimeUnit` class is not a bean. It must conform to the bean spec (getter and setter, fluent or not.)

[2020-06-17 12:32] bjonnhy commented on #259
If you paste the definition in https://editor.swagger.io/, it shows the error

Changed to `get*` getters right after you posted this comment. Sorry about that.

I also (just now) implemented Serializable, some dummy setters on `Quantity` and override those on `Time`. It seems the overridden getter on `Time` gives some improvements to `amount`, but `unit` still seems incomplete:
[code]

[2020-06-17 13:02] croudet commented on #259
Can you give a try to this branch https://github.com/croudet/micronaut-openapi/tree/Issue%23259

[2020-06-18 09:31] bjonnhy commented on #259
Using your branch produced a much better result, thanks!

I still have some concerns around how the generation produces a lot of 'duplicates' when there are multiple subclasses. This could become somewhat 'noisy' in the specification.

Now produced result:
[code]
Less 'noisy' suggestion:
[code]
Or dropping the `allOf` inheritance all together:
[code]

[2020-06-25 05:12] pditommaso opened #265 "Infer Operation summary and description attributes from Javadoc"
The Micronaut support is very convenient because it allows the generation of OpenAPI definition from the defined controller classes.

The ability to generate the proper API parameters documentation from the [Javadoc annotation allows the saving of a lot of duplicate coding](https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#controllersAndSwaggerAnnotations).

However, i

[2020-07-01 10:39] SushmaReddyLoka opened #273 "is request and response content of type protof buf supported"
Is it possible to generate open api spec when request and response content are of type protof buf ?

[2020-07-02 15:27] Chordless opened #274 "JavaDoc not added to openapi schema for properties of custom types"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-07-02 15:35] croudet commented on #274
Try to add your comment with `@return`

[2020-07-02 15:35] croudet commented on #273
Generation of spec should work for protobuf.

[2020-07-02 15:45] Chordless commented on #274
I added a commit with this to the example repo. Didn't help, unfortunately.

[2020-07-04 08:12] #274 closed

[2020-07-06 11:49] Chordless commented on #274
I tested the recently published 1.5.2 version against my example repository. The fixes helped, but only partially:

The example application has a single endpoint that returns an object of type MyObject.
MyObject contains a property of type CustomObject.

On version 1.5.2, i would expect the JavaDoc comments defined on both the MyObject and CustomObject classes to be present in the schema. The resu

[2020-07-07 10:04] runarhk opened #279 "Generated openapi yml file does not include all class fields after upgrade"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Use generics for a dto used in a controller interface
2. Assemble project

### Expected Behaviour

All fields of the class should be included in schema.

### Actual B

[2020-07-08 04:39] aardee commented on #215
Problem with the @ApiResponse is that you cannot document Generic classes. My API returns ResponseWrapper<T>, which is processed correctly as default, but if I add ApiResponse for 400, I can no longer generate documentation for ResponseWrapper<T>.

[2020-07-08 08:51] ilopmar opened #286 "Generate schema for inner classes with `dot` instead of `dollar`"
If I have the following POJO that I declare in my schema:

[code]

The generated schema for the inner class uses `$` as separation:

![image](https://user-images.githubusercontent.com/559192/86898242-bc396a80-c108-11ea-92ce-1924c1be006e.png)

I think it would be nicer to use a `.`, like:

![image](https://user-images.githubusercontent.com/559192/86898345-e0954700-c108-11ea-8734-d3b1756e53a5.png)

[2020-07-08 18:58] michellelian opened #288 "Micronaut does not generate OpenAPI doc properly when using immutables"
When using Value.Immutable classes as the rest api request/response, the generated OpenAPI doc does not show the properties of the immutable class.

I asked the question in gitter and was advised to create an issue here.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the

[2020-07-21 18:17] runarhk commented on #279
This might be related. I am also having issues with getting the fields with type of an interface that is implemented by an enum.

Consider interface A has a field b of type B. B is an interface. C implements A, and field b of C is an enum D that imlements B.

[2020-07-22 15:43] swaechter opened #292 "Endpoints in Swagger UI are not expandable & a loading spinner is shown"
### Steps to Reproduce

1.) Generate a Micronaut application with the OpenAPI integration
2.) Add a hello world endpoint
3.) Enable Swagger YML/Swagger UI and serve them via static router configuration
4.) Start the app and open Swagger UI
5.) Click on the endpoint and see a loading spinner that never stops spinning. The endpoint content is not shown and can't be triggered

### Expected Behaviour

[2020-07-22 15:47] ameet123 commented on #292
This doesn't load on local or even when I deploy remotely in the cloud.
micronaut 2.0.0, java amazon coretto 11. gradle 6.5.1 as well as 6.4.1
I tried with all versions of java 8, 11, 14. no dice.
I tried with micronaut: 1.3.4 as well. same issue

[2020-07-22 16:18] graemerocher commented on #292
Weird seems to be a bug in Swagger UI unrelated to Micronaut.

It is actually manifesting at https://snapshot.micronaut.io/swagger/views/swagger-ui/index.html

In the meantime suggest using RAPI doc which works fine https://snapshot.micronaut.io/swagger/views/rapidoc/index.html

[2020-07-22 16:19] graemerocher commented on #292
Seems to be a bug in Swagger UI https://github.com/swagger-api/swagger-ui/issues/6254

[2020-07-22 16:27] swaechter commented on #292
@graemerocher  Thanks a lot for digging into this. I checked the issue tracker a few hours ago.

Unrelated and maybe more a feature request: Would it be possible to rely on Webjars/embedded JS/CSS files? Two reasons:

1.) At the moment the Swagger integration requires an internet connection with a working DNS. Many of our customers have restricted production networks and the integration breaks (No

[2020-07-22 16:28] graemerocher commented on #292
It would be better yes. PRs are of course welcome

[2020-07-22 19:25] zdegner commented on #160
This appears to be resolved in Micronaut 2.0.0. Closing this issue.

[2020-07-22 19:25] #160 closed

[2020-07-23 12:28] croudet commented on #292
Seems to be fixed: https://github.com/swagger-api/swagger-ui/issues/6249
https://github.com/swagger-api/swagger-ui/releases

[2020-07-23 12:32] swaechter commented on #292
Yes, the problem is fixed (Micronaut uses the latest Swagger UI bundle)

[2020-07-23 12:32] #292 closed

[2020-07-24 16:20] alvarosanchez commented on #279
Fixed by #283

[2020-07-24 16:20] #279 closed

[2020-07-24 16:20] alvarosanchez commented on #273
Please post questions in [StackOverflow](https://stackoverflow.com/questions/tagged/micronaut).

You can also try with asking in [Gitter](https://gitter.im/micronautfw/).

[2020-07-24 16:20] #273 closed

[2020-07-24 16:28] alvarosanchez commented on #259
Fixed by #261 and #262

[2020-07-24 16:28] #259 closed

[2020-07-24 16:29] alvarosanchez commented on #255
Fixed by #256

[2020-07-24 16:32] #255 closed

[2020-07-24 16:33] #249 closed

[2020-07-24 16:34] alvarosanchez commented on #196
Please post questions in [StackOverflow](https://stackoverflow.com/questions/tagged/micronaut).

You can also try with asking in [Gitter](https://gitter.im/micronautfw/).

[2020-07-24 16:34] #196 closed

[2020-07-24 16:35] alvarosanchez commented on #195
Please post questions in [StackOverflow](https://stackoverflow.com/questions/tagged/micronaut).

You can also try with asking in [Gitter](https://gitter.im/micronautfw/).

[2020-07-24 16:35] #195 closed

[2020-07-24 16:35] #193 closed

[2020-07-24 16:36] #175 closed

[2020-07-24 16:36] #167 closed

[2020-07-24 16:39] alvarosanchez commented on #197
Duplicates #156

[2020-07-24 16:39] #197 closed

[2020-07-24 16:40] alvarosanchez commented on #104
Related to #156

[2020-08-02 05:29] Enigmatrix opened #297 "Parameters of type `Session`/`Session?` or those annotated with `@SessionValue` should be ignored"
# Steps to Reproduce
Create a controller with:
[code]
The generated swagger UI from the openapi specification is as follows:
![image](https://user-images.githubusercontent.com/12296254/89116119-0c66db00-d4c3-11ea-9fb5-6da914b53568.png)
![image](https://user-images.githubusercontent.com/12296254/89116128-26a0b900-d4c3-11ea-865a-be136898f732.png)

### Expected Behaviour

The parameters of type `Sess

[2020-08-05 17:16] #297 closed

[2020-08-10 09:11] Panthaaaa opened #302 "Use javax/jetbrains nullability annotations in required fields check for better Kotlin support"
When generating the required field list only javax.validation annotations are used:
https://github.com/micronaut-projects/micronaut-openapi/blob/c072c03355b417f36ff1a74c58bc557e0c4c52cf/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L748-L750

But when using Kotlin types are either nullable or not nullable which is represented by the javax.annotation.Nullable/Nonnul

[2020-08-11 15:50] jaksah opened #303 "Building OpenAPI for multiple content types in separate methods results in one overriding the other"
Building the OpenAPI spec for multiple content types in separate methods results in that only one of them is present in the output. For example.

[code]

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
1. Create a cont

[2020-08-17 07:14] graemerocher commented on #302
It shouldn't be necessary to add these since we map kotlin annotations to javax annotations. See https://github.com/micronaut-projects/micronaut-core/blob/master/inject/src/main/java/io/micronaut/inject/annotation/internal/KotlinNullableMapper.java

If this is not working, report an issue to https://github.com/micronaut-projects/micronaut-core/issues

[2020-08-17 07:15] graemerocher commented on #302
Oh I see the nullable ones are not handled. This seems like a simple fix, would you like to send a PR?

[2020-08-21 07:12] ilopmar commented on #303
Fixed by https://github.com/micronaut-projects/micronaut-openapi/pull/306

[2020-08-21 07:12] #303 closed

[2020-08-26 13:51] pditommaso opened #313 "NPE when generating OpenAPI schema from Groovy classes"
When trying to generate the OpenAPI schema for a Groovy based project the Gradle build stops due the following exception:

[code]

Checking the corresponding line it seems to be protected against null access

https://github.com/micronaut-projects/micronaut-core/blob/e9378a1adf1873bbb30889b74a5498c6cab89eca/inject-groovy/src/main/groovy/io/micronaut/ast/groovy/visitor/GroovyClassElement.java#L259

[2020-08-27 13:12] Adito5393 opened #314 "[maven] Swagger-UI is not generated"
The swagger file `swagger.yml` is generated in `META-INF/swagger`, however the swagger-ui not.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Generate a new project [here](https://micronaut.io/launch/) with:
   -

[2020-08-27 13:26] Adito5393 commented on #314
The files got generated with the `fork` flag set to `true` BEFORE the `<compilerArgs>`:

[code]

[2020-08-27 13:26] #314 closed

[2020-09-02 07:45] dstepanov opened #318 "Body schema doesn't include extra method parameters"
It's possible to define something like this:

[code]
And receive `{"myId": 123, ....}` then `myId` is propagated as a method parameter.

Unfortunately `myId` is not included in the API specification.

I think it should generate extra body schema:

[code]

[2020-09-02 09:07] graemerocher commented on #318
Wow I am surprised this works, seems to be there would be a lot of problems to disambiguate what belongs to the body and what doesn't 🤔

[2020-09-02 09:16] dstepanov commented on #318
@graemerocher Actually it's a pretty good feature. I don't see any problems here, parameters are just extracted from the incoming body and if the body also defines `myId` it will be included there as well.

[2020-09-02 12:19] dstepanov opened #319 "Support Jackson's @JsonNaming and @JsonProperty"
It would be nice if schema models were generated according to `@JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class)` and `@JsonProperty`

[2020-09-02 13:28] graemerocher commented on #319
I thought `@JsonProperty` was already handled If not I think there should be an annotation mapper that maps it to `@Bindable(value=..)` in case we want to support other annotation sets

[2020-09-02 14:06] dstepanov commented on #319
I might be wrong about `@JsonProperty` I checked the sources briefly to check if it's supported.

[2020-09-08 08:39] Panthaaaa opened #323 "Why are Javadoc comments added to summary AND description?"
I tried to add some documentation using Javadoc to our spec and was quite surprised that method javadocs is added to summary AND description. I couldn't find any reasoning behind that behaviour, which is coded here:
https://github.com/micronaut-projects/micronaut-openapi/blob/b8923df234876231fb304cf7ded7e940512e0665/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiEndpointVisitor.

[2020-09-08 08:40] graemerocher commented on #323
Seems like a good idea, would you like to send a PR?

[2020-09-08 08:41] Panthaaaa commented on #323
I just saw #265 which proposes the exact same approach. Therefore I would link both tickets and make a PR which closes both.

[2020-09-09 15:30] rohitkg98 commented on #302
I would like to fix this. What do we mean by Nullable ones re not handled?

[2020-09-09 15:39] graemerocher commented on #302
this check:

https://github.com/micronaut-projects/micronaut-openapi/blob/c072c03355b417f36ff1a74c58bc557e0c4c52cf/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L748-L750

Is not checking for `javax.annotation.Nonnull`

[2020-09-12 09:13] #319 closed

[2020-09-14 09:17] alberto-pelosi opened #337 "Unable to expand properties"
Hi,

I'm using micronaut-openapi v 1.5.2

In the documentation (https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#configuration) there is an example about how to expand properties, but it doesn't seem to work.

I have defined openapi.properties file and put it in src/main/resources

```micronaut.openapi.expand.openapi.description=A nice API```

This is the main class:

[2020-09-14 10:10] graemerocher commented on #337
According to https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#configuration it has to be in your project root

[2020-09-14 10:22] alberto-pelosi commented on #337
Ok, it works.
Thank you!

[2020-09-14 10:22] #337 closed

[2020-09-15 23:57] mliberato commented on #215
Quoting `io.swagger.v3.oas.annotations.responses.ApiResponse.responseCode` property source code:

[code]

I think it should be a good ideia to allow this.
Most of the time, the autogenerated spec is OK using provided return type. It is true either you will always have an exceptional flow. So, for a standard method with a well defined return type, if you have a flow with just a different status cod

[2020-09-16 09:51] graemerocher commented on #215
@mliberato PRs welcome of course

[2020-09-16 09:52] #318 closed

[2020-09-16 09:56] #288 closed

[2020-09-16 09:57] #286 closed

[2020-09-17 15:11] bj-eberhardt opened #343 "Kapt is not working using "@Get(produces = APPLICATION_JSON, single = true)""
### Description

The gradle task kapt is not working if using annotations like `@Get(produces = APPLICATION_JSON, single = true)` and `@Post(consumes = ALL, produces = APPLICATION_JSON, single = true)`

### Steps to Reproduce

I created a new sample project using features "openapi" and "graphql" working with kotlin and gradle.
(see https://github.com/bj-eberhardt/micronaut-openapi-issue)

I had to

[2020-09-19 08:51] #343 closed

[2020-09-19 10:21] asodja opened #345 "Add support for @RequestBean"
With Micronaut 2.0.0 there is new Bindable annotation `@RequestBean`. It looks like it does not work out of the box with OpenApi.

https://docs.micronaut.io/latest/guide/index.html#binding

`@RequestBean` maps bindable values to object. So object would probably need to be unwrapped in to OpenApi schema somehow.

[2020-09-23 14:05] alphawolf1988 opened #347 "Wrong schema generation while using inheritance"
It seems to be that the schema is wrong while using inheritance:

[code]

[code]

If i understand correctly, the `required:` can't have a leading ` - ` and all the code below needs to move to left.

The last version of micronaut 1.x generated a correct scheme like:

[code]

[2020-09-23 14:09] alphawolf1988 commented on #347
There was already a fix for this problem: #117 but now it occurs again.

[2020-09-24 13:27] alphawolf1988 opened #348 "Example of ZonedDateTime property isn't generated as a string"
Currently, the example of ZonedDateTime property isn't rendered as a string:

[code]

[2020-09-24 23:33] jaecktec commented on #44
I think this bug still persists:

when you have a post with a parameter (not a body) like so:
[code]
it generates:
[code]

[2020-09-25 06:25] perty opened #349 "No feature for swagger-java"
Following the documentation here: https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html .

Creating an app does not work as described.

### Steps to Reproduce

1. > mn create-app my-openapi-app --features swagger-java
| Error The requested feature does not exist: swagger-java
2. > mn --version
Micronaut Version: 2.0.3
3. > mn create-app -h | grep swagger

### Expected Beha

[2020-09-25 06:35] perty opened #350 "Latest release not available"
The release 2.10 is not available.

### Steps to Reproduce

1. > mn create-app my-open-api
2. > cd my-open-api
3. Add the annotation processor and implementation to build.gradle.

[code]
### Expected Behaviour

The application builds.

### Actual Behaviour

The application can not be built due to missing dependency.

### Environment Information

- **Operating System**: Mac
- **Micronaut Version:**

[2020-09-25 06:40] ilopmar commented on #350
For Micronaut OpenApi 2.x we've changed the groupId. Now it is `io.micronaut.openapi` instead of `io.micronaut.configuration`

[2020-09-25 06:40] #350 closed

[2020-09-25 06:47] perty commented on #350
Oh the manual was wrong.

[2020-09-25 06:58] ilopmar opened #351 "Fix groupId for 2.x"
Starting with 2.x we've switched the groupId from `io.micronaut.configuration` to `io.micronaut.openapi`. Fix the docs to use the new one.

[2020-09-25 06:58] ilopmar commented on #350
Yes, you're right. I've opened an issue to fix it: https://github.com/micronaut-projects/micronaut-openapi/issues/351

Thanks for pointing it out :)

[2020-09-25 07:00] ilopmar commented on #349
This is again another doc issue. The name of the feature is now `openapi` and it doesn't matter if you use Java, Groovy or Kotlin.

One hint. If you are not sure about the doc of something doesn't work, my advice is going to https://micronaut.io/launch/ and generate the project there.

[2020-09-25 08:51] ilopmar commented on #351
Duplicates #324

[2020-09-25 08:51] #351 closed

[2020-09-25 08:56] #349 closed

[2020-09-26 06:59] perty commented on #350
Thanks @ilopmar for the quick response. I tried the launcher but it generates with old groupid.
[code]

[2020-09-27 21:14] murdos commented on #102
Hi! Can this issue be reopened?
I think this feature is interesting to have too.

[2020-09-28 07:34] ilopmar commented on #350
That's because the new groupId is not included in Micronaut 2.0.x releases. It will be included in Micronaut 2.1.0 https://github.com/micronaut-projects/micronaut-core/blob/f4164ba811bd3a2c9f52e498f993f164b118c1c7/gradle.properties#L50 and then the Launcher will use it.

[2020-10-01 01:20] andydoe19 commented on #197
Hello @alvarosanchez If this is a duplicate, where can I find the answer please?

[2020-10-01 01:20] andydoe19 commented on #156
Hello @alvarosanchez If this is a duplicate, where can I find the answer please?

[2020-10-01 04:46] andydoe19 commented on #12
Hi @brianwyka to set the jwt header globally you just need to annotate the Application.java like this:

[code]
In your case with the custom authentication header, you could do it like this:

[code]

[2020-10-01 07:39] alvarosanchez commented on #156
@andydoe19 #197 duplicates #156

I don't know what "answer" are you looking for, but #156 is still open and therefore not implemented

[2020-10-01 07:40] alvarosanchez commented on #197
@andydoe19 see https://github.com/micronaut-projects/micronaut-openapi/issues/156#issuecomment-701951706

And please don't do cross-posting across several issues for the same question. Thanks!

[2020-10-01 15:27] natka1130 opened #353 "Micronaut Built-In Endpoints - cache"
referring to the following documentation (https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#endpoints) I tried to enable the appropriate endpoints.

It turns out that only the following are available and visible in the swagger:

endpoints.routes.class = io.micronaut.management.endpoint.routes.RoutesEndpoint
endpoints.beans.class = io.micronaut.management.endpoint.beans

[2020-10-02 14:05] anandjaisy opened #355 "Swagger view are not generated in micronaut 2.1.0"
[code]

**openapi.properties**
`micronaut.openapi.views.spec=redoc.enabled=true,rapidoc.enabled=true,swagger-ui.enabled=true,swagger-ui.theme=flattop`

**Application.yml**

[code]

![image](https://user-images.githubusercontent.com/1625641/94932123-f8b01300-050b-11eb-9cbe-f16d27dd261a.png)

Also tried the solution

`annotationProcessor "io.micronaut.configuration:micronaut-openapi:1.3.3"`

But did

[2020-10-02 14:25] graemerocher commented on #355
The following:

[code]

Results in

[code]

So something else must be going on, could you provide an example?

[2020-10-02 14:48] anandjaisy commented on #355
I have the below code sample repo https://github.com/anandjaisy/MicronautSwagger/tree/master/src/fete-bird-product

[2020-10-02 14:57] kenotr0n opened #356 "Generic response type cannot be used in conjunction with @ApiResponse swagger annotations"
tl;dr: controllers with generic response types cannot be clarified, described, or extended

I have a controller class with a method similar to this:

[code]

which will produce the 'correct' swagger yaml for the response _so long as there are no @ApiResponse annotations on the method_.  If any swagger annotations for other response codes (404, 500, etc) are included for the controller method, the

[2020-10-02 15:05] graemerocher commented on #355
Running that results in:

[code]

[2020-10-02 15:31] anandjaisy commented on #355
I am using Intellj Ide and it doesn't generate the files when I run the application.

[2020-10-05 11:09] #355 closed

[2020-10-05 11:46] anandjaisy opened #357 "Is there any Api gateway swagger implementation example."
The open API with swagger UI for each microservice is fine, is there any example of API gateway swagger implementation?

Something similar to spring gateway https://spring.io/projects/spring-cloud-gateway

[2020-10-05 14:56] kenotr0n commented on #356
I should add this is a known issue with `swagger-core` as well, it's been reported for years with no suitable resolution.  With over 500 issues on swagger-core, I don't see it being solved there any time soon.  An additional `nestedSchema` method of the `Schema` annotation feels like the right solution to me, akin to the `ArraySchema` method `arraySchema` to mark the properties of the outer array

[2020-10-06 06:12] tcrespog opened #358 "YAML definition of Groovy POGO with enum field includes two unexpected values"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Groovy POGO with any enum fields.
2. Generate the OpenAPI docs.
3. Go to the generated YAML definition file: the enum element includes two additional values (`MIN_VALUE` and `MAX_VALUE`).

### Exp

[2020-10-08 09:45] JouperCoding commented on #156
+ 1 for this request in addition it would be nice to have /oauth/access_token & /logout added to the generated swagger.

[2020-10-12 13:08] davidhiendl opened #361 "Duplicate operationId values"
Currently the operationId for the OpenAPI spec is generated only from the simple method name (if not explicitly set).
This basically forces the use of `@Operation(operationId = "....")` for every non-unique endpoint method name to avoid conflicts in the generated spec.
This results in the need to add many additional annotations to resolve conflicts.

### Steps to Reproduce
Create 2 classes contain

[2020-10-14 08:54] dargenn commented on #156
Is there a way to manually add those entries?

[2020-10-14 09:18] ilopmar commented on #156
@dargenn Yes, you can use this: https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#mergingSchemas

[2020-10-15 08:13] tcrespog opened #363 "Add support for @Schema(accessMode = ...) in classes"
It would be useful to take into account the [`accessMode`](https://docs.swagger.io/swagger-core/v2.1.5/apidocs/io/swagger/v3/oas/annotations/media/Schema.html#accessMode--) element of `@Schema` in classes.

This way some fields could be specified only for requests or responses. For instance:
[code]
Given the definition above: `age` would only appear wherever `Pet` is part of a request body, wherea

[2020-10-26 12:40] morki commented on #345
The same fix is needed for "exploded operator" on get queries, example from documentation:

[code]

Now they are presented as object type.

[2020-10-28 15:19] rdesgroppes opened #367 "Incorrect OpenAPI is generated for multi-dimensional arrays"
According to https://swagger.io/docs/specification/data-models/data-types/#array:

... but `micronaut-openapi` doesn't seem to support that feature yet.

### Steps to Reproduce

1. Declare a @Schema on a nested array type, for instance:
[code]

### Expected Behaviour

Nested arrays:
[code]

### Actual Behaviour

A "Flat" array for native integers (wrong depth), and an array of objects of type `Lis

[2020-11-02 08:04] #345 closed

[2020-11-02 08:05] #156 closed

[2020-11-02 17:03] #367 closed

[2020-11-03 17:35] dbkegley commented on #348
Are there any known workarounds for this? swagger-ui is rendering our example date as `OrderedMap {}` because the yaml spec interprets the date as an object.

I have tried various combinations of double-quoting, new lines and escaping but haven't found anything that works yet.

Generating a json spec instead of yaml would also be an acceptable workaround for us I believe but this is not yet suppor

[2020-11-06 20:51] sjrd218 opened #373 "Groovy POGO Schemas missing"
It appears that the generation of schema information for Groovy POGOs is not working

### Steps to Reproduce

1. Create a project from Micronaut launch that includes the openapi feature and uses Groovy
2. Create a POGO and annotate it with the Swagger Schema annotation
3. Build the project
4. Look at the generated open api file and note that there are no entries for the POGO that was previously cr

[2020-11-11 21:55] rolox05 commented on #314
This solution is not working can you provide more information ? I'm in the same situation as @Adito5393, you could get it working?

[2020-11-12 16:47] Adito5393 commented on #314
Highly depends on how you set up your project.... try using their [launcher](https://micronaut.io/launch/) and select the feature "**openapi**" and compare their pom.xml with yours. (or the build.gradle file)

I found that the [docs](https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html) had enough info to help me, I just did not pay attention to all the details.

Reply wi

[2020-11-17 21:07] henriquelsmti opened #384 "The @ArraySchema annotation is not interpreted correctly"
Currently the Micronaut is not generating the specification correctly when using @ArraySchema annotation

When adding @ArraySchema to @ Content.array, the type of the array item is not added to the yaml file.
Ex 1:
Controller

    @ApiResponse(
        content = @Content(
            array = @ArraySchema(
                    schema = @Schema(implementation = Bacon)
                )
        )

[2020-11-17 22:51] henriquelsmti commented on #384
Note that io.micronaut.openapi.visitor.OpenApi ArraySchema Spec is failing on the master

[2020-11-18 01:21] henriquelsmti commented on #384
Performing some tests, I found that the problem happens only in OpenJ9, in HotSport it works normally

[2020-11-18 11:14] henriquelsmti commented on #384
Apparently Jackson doesn't render yaml correctly in OpenJ9.
I don't know if it makes sense to keep this issue open.

[2020-11-18 11:38] henriquelsmti commented on #384
Apparently BeanMap does not return all properties when running on OpenJ9
![image](https://user-images.githubusercontent.com/9632578/99525888-3a403480-2979-11eb-877d-de84d3155d5f.png)

[2020-11-19 20:32] croudet commented on #384
Seems related to https://github.com/micronaut-projects/micronaut-views/issues/4

[2020-11-19 20:37] croudet commented on #353
It should work for Cache endpoint. Just add an entry with the proper class name.

[2020-11-20 07:57] mikaelvik opened #392 "Improve support for @RequestBean, ignore static fields/constants."
### Fix

This is (hopefully) an improvement to the solution from #369 .

I've already found a simple solution and will submit a pull request.

### Reproduce

Create a @RequestBean class with a constant and a header field referencing the constant.

[code]

The generated openapi spec contains parameters for the constant and the field.

[code]

### Expected Behaviour

The parameter `HEADER_CONTENT_TY

[2020-11-20 08:01] mikaelvik commented on #392
I was able to work around the issue on my own project by moving the constants to a different class.

[2020-11-20 08:24] mikaelvik commented on #392
PR: https://github.com/micronaut-projects/micronaut-openapi/pull/394

It currently fails on something unrelated to the actual changes.

[2020-11-21 00:46] naddeoa opened #397 "Micronaut generates the wrong openapi yaml when using `Schema(required=true)` annotation"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-23 09:20] tcrespog commented on #313
I've been able to reproduce this issue. Apparently it happens in a Groovy multi-project when:
1. A project defines the classes to be used as part of requests and responses (let's call them domain classes).
2. Another project adds the former as a dependency and defines the controller classes to generate the corresponding API docs.
3. One of the domain classes has a field annotated with a "nested" a

[2020-11-25 03:17] tjkeast opened #398 "Private fields documented with @Schema are not show in swagger file (using lombok)"
### Steps to Reproduce

1. Start a basic Micronaut project with the openapi feature.
2. Create a class with a private field and annotate it with `@Schema`

### Expected Behaviour

The generated swagger file should show the annotated fields even if they are private.

### Actual Behaviour

Private fields are not shown.

We use the `@Data` annotation from lombok to automatically generate getters and

[2020-11-26 11:42] alvarosanchez commented on #313
This seems like a bug in the Groovy AST processing. The problematic item is:

[code]

When getting the annotations for the `animal` node, the second `AnnotationNode` looks like:

![image](https://user-images.githubusercontent.com/153880/100346772-b1627200-2fe4-11eb-9c0d-8384aa7b9eda.png)

Note how the `expressions` are all null.

@paulk-asert is this enough information for you to understand where

[2020-11-27 13:29] paulk-asert commented on #313
I can replicate getting the NPE:
[code]
Where is the breakpoint for above screenshot? There is a guard that the list is not null but the NPE would be expected if the list contained a `null`.

[2020-11-27 14:03] alvarosanchez commented on #313
I think it was at `GroovyCodeVisitor`, don't remember exactly but can try again.

Notice also that `AnnotationNode#toString()` throws an exception too.

[2020-11-27 18:03] andyndang commented on #397
This is fixed in 2.2.0

It happens in 2.1.0: https://github.com/andyndang/micronaut-swagger-yml-bug/tree/3abcf71d92169b6761cc6a9209fd89358f55743c
YAML: https://github.com/andyndang/micronaut-swagger-yml-bug/blob/3abcf71d92169b6761cc6a9209fd89358f55743c/schema_2.1.0.yml

In 2.2.0:
https://github.com/andyndang/micronaut-swagger-yml-bug/blob/89b20c9451f333e8fb17678cff0ca6ac063a415f/schema_2.2.0.yml

[2020-11-27 18:08] andyndang opened #402 "Micronaut 2.2.0 adds requestBody as a required parameters to Put/Post requests"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-27 20:12] graemerocher commented on #397
Thanks

[2020-11-27 20:12] #397 closed

[2020-11-27 20:51] paulk-asert commented on #313
Second one could just be intellij trying to display the null

[2020-12-07 12:46] adamkobor opened #409 "Generate endpoints and schemas in the same order into swagger.yml"
We are using the generated OpenAPI spec in a custom manner, which means that the generated YAML is also included in our applications' repository to track the changes of it. This means that every time Micronaut regenerates the file, a custom Gradle task updates it in our repo as well. Because the generator doesn't order the endpoints and schemas by their name, two consequent run can end up in YAMLs

[2020-12-07 12:54] slecholineas opened #410 "Support for generating code based on an existing openapi/swagger specification document"
I'm wondering if it would be possible to generate micronaut-code based on an existing openapi or swagger specification document.

[2020-12-09 10:04] graemerocher commented on #409
Contributions welcome! Good place to start is to look at the existing tests

The file itself is written here https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiApplicationVisitor.java#L479

[2020-12-09 10:33] alvarosanchez commented on #410
There is an official `micronaut` generator in Swagger Codegen: https://github.com/swagger-api/swagger-codegen-generators/issues/429

[2020-12-09 10:33] #410 closed

[2020-12-09 11:20] dstepanov commented on #409
We have the same problem and I think it's caused by Javac processing not having consistent order. We have solved it by sorting yaml in Gradle, it looks ugly but works.

[2020-12-10 16:42] alvarosanchez commented on #313
The breakpoint is at [`ClassCodeVisitorSupport`](https://github.com/apache/groovy/blob/GROOVY_3_0_4/src/main/java/org/codehaus/groovy/ast/ClassCodeVisitorSupport.java#L57)

The NPE is actually thrown at [`GroovyCodeVisitor`](https://github.com/apache/groovy/blob/GROOVY_3_0_4/src/main/java/org/codehaus/groovy/ast/GroovyCodeVisitor.java#L202). The `List<? extends Expression> list` is `[null, null]`.

[2020-12-10 16:55] #392 closed

[2020-12-10 16:59] #384 closed

[2020-12-10 22:16] pratik-brex opened #414 "OpenAPI generator doesn't correctly handle data class schema references"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-11 00:00] pratik-brex commented on #414
I imagine it's this function ( https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiEndpointVisitor.java#L380 ) that doesn't seem to have anything specific for nullable or Optional types? I also noticed that wrapping it in an `Optional<Address>` didn't do anything and semantically it should be the same as a nullable A

[2020-12-11 03:20] hyunrealshadow opened #416 "@Parameter annotation not working in method level"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-11 08:06] alvarosanchez commented on #353
Also make sure to add `io.micronaut.cache:micronaut-cache-management` as a dependency.

[2020-12-11 08:06] #353 closed

[2020-12-11 08:15] alvarosanchez commented on #357
Please post questions in [StackOverflow](https://stackoverflow.com/questions/tagged/micronaut).

You can also try with asking in [Gitter](https://gitter.im/micronautfw/).

[2020-12-11 08:15] #357 closed

[2020-12-11 08:18] alvarosanchez commented on #302
Fixed via #325

[2020-12-11 08:18] #302 closed

[2020-12-11 08:19] alvarosanchez commented on #323
Duplicate of #265

[2020-12-11 08:19] #323 closed

[2020-12-11 08:21] alvarosanchez commented on #134
Is this the same as #265?

[2020-12-11 15:25] alvarosanchez commented on #313
@paulk-asert has this been reported in the Groovy Jira? I couldn't find anything.

[2020-12-15 21:46] pratik-brex commented on #414
@alvarosanchez looking at this bug a bit more holistically i think the nullable types is a red-herring. The issue seems to be that it's no longer generating references correctly. See my original example and change the type of address from `Address?` to `Address`. This seems to be a regression after upgrading Micronaut

[2020-12-16 10:03] anandjaisy opened #422 "Authorization code flow + PKCE setup with swagger UI"
Authentication with OKTA for the Micronaut swagger definition with Authorization flow + PKCE  cliendId and usePkceWithAuthorizationCodeGrant not added in the swagger final .yml file.

**Using security schema from the code** there is no option for **clientId** and **usePkceWithAuthorizationCodeGrant**

[code]
**With Schema merging technique**

**security.yml**
[code]
On the final .yml file the **cl

[2020-12-16 14:07] alvarosanchez commented on #414
Could you please share an application that reproduces the issue so that we can investigate?

[2020-12-16 14:58] brianwyka opened #423 "@Extension without name causes compilation error"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

See examples below.

### Expected Behaviour

When `name` is not provided for the `@Extenstion` annotation, it should use the default value of `""`

### Actual Behaviour

[2020-12-16 15:10] brianwyka commented on #423
I couldn't find a location in the code to fix this, but happy to open a PR if pointed in the right direction.

[2020-12-17 19:45] pratik-brex commented on #414
@alvarosanchez i tried to reproduce it but i couldn't. Our internal code is using Bazel (instead of Gradle) and it's possible that could potentially be a problem. We're using the same annotation processors defined here: https://github.com/micronaut-projects/micronaut-core/blob/2.2.x/inject-java/src/main/resources/META-INF/services/javax.annotation.processing.Processor

Note: I noticed that downgra

[2020-12-17 22:24] pratik-brex commented on #414
So upon further digging, this seems to be the underlying issue: OpenAPI doesn't allow `$ref` with `description` (see https://github.com/OAI/OpenAPI-Specification/issues/1514 for more details). It'd be ideal for the OpenAPI generator to print this as a warning :)

In the repro above, the micronaut generator is setting `$ref` and for some reason in my codebase it's setting description but not `$ref`

[2020-12-18 22:22] #414 closed

[2020-12-22 05:57] paulk-asert commented on #313
I don't believe so. Please raise a Jira.

[2020-12-22 10:19] alvarosanchez commented on #313
https://issues.apache.org/jira/browse/GROOVY-9871

[2020-12-23 19:39] preyest1300 commented on #416
Hey @hyunrealshadow ! I have been trying to solve this issue, but i need to know the `Page` class definiton in order to be able to reproduce the bug.

[2020-12-27 11:52] anandjaisy opened #428 "swagger-ui is not mapping oauth2-redirect.html"
**Describe the bug**
Swagger-UI sets the redirect_uri for OAUTH2 requests to /oauth2-redirect.html. If this file doesn't exist, the Authorize dialog (after asking for scopes) returns to a 404 page (that includes a suggestion for /webjars/swagger-ui/3.20.9/oauth2-redirect.html).

**Expected behavior**
The authorize dialog successfully returns to swagger-ui with a token.

Expectation is that one of

[2020-12-28 02:28] hyunrealshadow commented on #416
@preyest1300 Sorry, I didn't reply in time
It's like this
[code]

[2020-12-29 04:24] hc-codersatlas commented on #102
Json will make it easier to be parsed by frontend services instead of yaml (using javascript). Likely faster to generate too.

[2021-01-01 21:35] asodja commented on #409
@adamkobor can you maybe test if https://github.com/micronaut-projects/micronaut-openapi/pull/433 fixes the issue for you?

[2021-01-11 15:04] #409 closed

[2021-01-15 03:39] anandjaisy opened #437 "Add oauth2 configuration to swagger-ui"
Description
Already many configurations for the openapi / swagger-ui can be set in the application.properties. It would be nice to be able to set the oauth 2 configuration properties (https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/oauth2.md)

This would allow to set preconfigure the oauth login dialog with all the necessary options.

Implementation ideas
As example, with spring-d

[2021-01-15 21:05] anandjaisy opened #438 "Merging the additional files content is not working"
In the additional files, I have the below security schemes

[code]

**build.gradle**

[code]
the original file has no content of the security schema, here is the repo https://github.com/anandjaisy/micronuatswaggermerging

[2021-01-17 10:41] JamieCressey opened #440 "Schemas are not generated for RxJava 3 response types"
When returning RxJava 3 types from a controller, OpenApi schemas are not being generated correctly.

Example:

The following example controller, using RxJava 3;

[code]

Generates the following spec snippet;

[code]

Whereas following example controller, using RxJava 2;

[code]

Generates the expected spec snippet;

[code]

[2021-01-17 13:01] debuglevel opened #441 "Returning StreamedFile does not fulfill OpenAPI specs"
A controller function returning a `StreamedFile` does not generate a OpenAPI.yml according to the OpenAPI 3.0 specs. It instead describes the fields etc of the `StreamedFile` class.

### Steps to Reproduce

[code]
### Expected Behaviour
The [OpenAPI Specs](https://swagger.io/docs/specification/describing-responses/#response-that-returns-a-file) specifies files like this:
[code]

### Actual Behavio

[2021-01-21 12:45] runarhk opened #442 "Not generating all fields from class when having children/sibling of same type"
I have created a simple setup reproducing the where we have a class `a` that implements an interface `A` , having a field that has type `A` .

This

### Steps to Reproduce

1. Clone supplied repo
2. run gradle assemble
3. notice missing fields in type TestImpl1 in generated file at build/classes/java/main/META-INF/swagger/hello-world-0.0.yml

### Expected Behaviour

The field name `woopsie` should

[2021-01-21 12:57] graemerocher commented on #442
The field `woopsie ` is private, why would it be included in the public schema?

[2021-01-21 13:05] runarhk commented on #442
thanks for quick reply @graemerocher, i forgot to push the getter and setter which I added after removing lombok to get the test project as slim as possible. Pushed now ;)

[2021-01-22 16:15] RobynDalgleish opened #443 "Does not handle multipart form data as expected; regression?"
### Steps to Reproduce

1. Create a basic endpoint that takes multipart form data, and returns a non-200 status code, e.g. 201
2. Enable the OpenApi annotation processor
3. CompileJava to generate docs

### Expected Behaviour

- The multipart form body has all of its parts documented or at least visible when the @Part annotation is used
- There are no added response codes even when having not adde

[2021-01-23 10:09] kristofvb opened #444 "missing version in pom.xml for dependency micronaut-http"
### Steps to Reproduce

1. using Micronaut Launcher create a new project with feature open-api and build tool maven
2. download and unzip demo
3. run mvn package

### Expected Behaviour

Maven build expected to succeed.

### Actual Behaviour

There is a warning
[WARNING] Invalid POM for io.micronaut.openapi:micronaut-openapi:jar:2.3.0, transitive dependencies (if any) will not be available, enable

[2021-01-23 17:20] tmapes opened #445 "Setting property naming strategy without any data classes causes build failure"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-01-25 08:53] alvarosanchez commented on #444
This was caused by https://github.com/micronaut-projects/micronaut-build/pull/77.

It needs a new release.

[2021-01-25 11:53] alvarosanchez commented on #442
This happens because when the `whoopsie` field is visited, the `TestInterface` type is also being visited in progress, and there is a recursion break to stop processing it.

Not sure what solution could be applied here.

[2021-01-25 13:01] runarhk commented on #442
Makes sense. But how come it works if I add a generic type to the interface?

[2021-01-25 13:56] alvarosanchez commented on #442
I guess that in that case, it goes through a different code path since `TestInterface<T>` != `TestInterface`

[2021-01-25 16:18] swaechter commented on #441
I am not sure how related my problem is, but it also generats a wrong schema for SystemFile (With SystemFile instead of StreamedFile).

The code bellow fixed my problem (@Produces doesn't fix the problem):

[code]

[2021-01-25 16:29] swaechter commented on #44
@graemerocher @jaecktec Somehow I ran into the same problem for POST and PUT. Is there a workaround to generate an empty request body, e.g via @Content / @Schema?

[code]

Produces:

[code]

[2021-01-25 16:45] jaecktec commented on #44
No, but there is still an open issue here: #402

[2021-01-26 09:06] debuglevel commented on #441
Thanks @swaechter, I did not think of explicitly using annotations to describe the API 😅

[2021-01-26 13:10] ZeroOne3010 commented on #348
Then again the [YAML specification](https://yaml.org/spec/1.2/spec.html) does not specify that date-times should have quotes around them:

![image](https://user-images.githubusercontent.com/2502423/105848982-6bc42480-5fe8-11eb-9a4f-4e7fcf0dcc87.png)

So I'd rather see this as an issue of the swagger-ui, not this library. I came across this GitHub issue here while debugging the exact same supposed

[2021-01-26 16:37] alvarosanchez commented on #348
Closing as per the previous comment

[2021-01-26 16:37] #348 closed

[2021-01-26 17:09] alvarosanchez commented on #428
Relates to #437

[2021-01-27 17:57] #444 closed

[2021-01-29 08:57] #423 closed

[2021-01-29 21:48] debuglevel commented on #441
In case anybody needs the Kotlin variant of @swaechter's Java code:
[code]

[2021-01-31 13:55] swaechter commented on #441
@debuglevel Small addendum: When you have an endpoint where you upload a file and return it as file download (Maybe you do this in your LiberatePDF2 project), you have to set the produces field in the POST/PUT annotation. Otherwise Micronaut will generate a really strange 403 Forbidden error:

[code]

[2021-02-02 08:56] #422 closed

[2021-02-02 08:56] #428 closed

[2021-02-02 08:56] #437 closed

[2021-02-02 09:51] sdelamo opened #452 "Similar to OAuth for Swagger UI support OpenID Connect Discovery"
https://swagger.io/docs/specification/authentication/openid-connect-discovery/

This will be similar to what @alvarosanchez implemented here: https://github.com/micronaut-projects/micronaut-openapi/pull/448

[2021-02-03 18:17] brianwyka commented on #225
Seems to be unnecessary overhead to converting to multi-module setup just for outputting to different yaml files for openapi spec.  Perhaps we can leverage the Swagger `@Tag` annotation to achieve grouping?

[2021-02-10 03:28] anandjaisy commented on #422
Which release will contain these fixes?

[2021-02-10 14:40] alvarosanchez commented on #422
2.4.0. You can try now `2.4.0-SNAPSHOT`

[2021-02-10 20:27] scprek commented on #134
@alvarosanchez I think it's similar but I could not get the `@Operation` annotation working with `parameters`

@StephenOTT the only way I was able to get all 3 (endpoint description, summary and parameter description) to work and be distinctive is with below. Additionally, documented my failed attempts.

### TL;DL
 Use a combo of javadoc for params only and `@Operation` for everything else. Additi

[2021-02-10 20:27] scprek commented on #265
@pditommaso I ran into the same issue, but also noticed weirdness around parameter descriptions. See my post here. https://github.com/micronaut-projects/micronaut-openapi/issues/134#issuecomment-777007210

[2021-02-10 20:48] scprek commented on #265
Note that `@Operation` with summary alone works fine if there are no javadocs WITH `@param` before it.

[2021-02-11 07:48] graemerocher commented on #265
I think the correct thing to do would be to plug something like https://github.com/chhorz/javadoc-parser into the javadoc parsing instead of the rather dumb regex approach used now and to support this better

[2021-02-12 07:42] TorosyanV commented on #156
@alvarosanchez why you are marking it as duplicate, but still no answer?

[2021-02-12 08:29] alvarosanchez commented on #156
@TorosyanV you are probably misinterpreting the history of this issue.

This issue was never marked as duplicate. #197 was, as said in https://github.com/micronaut-projects/micronaut-openapi/issues/156#issuecomment-701951706

This issue was closed as fixed by #364

[2021-02-17 18:52] jacobmims opened #467 "OpenAPI YAML file sorting POJO properties alphabetically"
This is likely a result of #433. While it is now consistent, this can result in awkward OpenAPI docs, where alphabetical sorting does not match the expected order of the properties.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps

[2021-02-17 19:39] graemerocher commented on #467
hmm yeah not sure what we can do about this, the fix for #433 isn't easy to customise

[2021-02-17 21:59] asodja commented on #467
Yeah, maybe it's was not the best idea to modify ObjectMapper...

Original issue was, that paths and schemas had different order on different runs. So maybe it would be enough to just sort these two before putting out yaml. Smth like:
[code]

[2021-02-17 22:29] jacobmims commented on #467
That sounds like a good compromise @asodja. I experienced the issue with the paths and schemas, so this fixed that issue beautifully. Impacting the properties seems like an unintended side effect, so if we can isolate the sorting to the paths/schemas, that would be the best of both.

[2021-02-17 23:46] asodja commented on #467
@jacobmims Could you maybe try my fix? How you can test it:
[code]

[2021-02-18 06:29] a-mroz commented on #398
I've encountered a similar issue. I figured out that private fields can be annotated and it works if you have a `public` getter created manually. It doesn't work with Lombok-generated getter or when the getter is package-private. An example app:
https://github.com/a-mroz/microservices-example/blob/openapiSchemaIssueExample/recommendations/src/main/java/dev/amroz/microservices/bookshop/recommendati

[2021-02-18 06:46] graemerocher commented on #398
My guess is Lombok is not retaining the javadoc in the AST

[2021-02-18 07:21] graemerocher commented on #467
If it is still an issue please re-open

[2021-02-18 07:21] #467 closed

[2021-02-18 16:38] jacobmims commented on #467
@asodja I just wanted to follow up: it looks like it's working great. Thank you for jumping on this so quickly!

[2021-02-18 18:13] a-mroz commented on #398
I'm not sure how javadoc is used here, but it's highly possible.

What's surprising me more is that it doesn't work with package-private getters either.

[2021-02-18 20:19] scprek commented on #443
See the same thing. The `@Part` annotation is screwing up the spec.

Without `@Part` using the parameter name as-is
[code]

With `@Part` to modify the name to snake case.

[code]

[2021-02-19 07:38] graemerocher commented on #398
probably doesn't make any difference since Micronaut processes the source code

[2021-02-19 14:41] ccorcoran-nydig opened #471 "JsonProperty not getting picked up by yaml generation for Enum"
### Task List

- [ X ] Steps to reproduce provided
- [ N/A] Stacktrace (if present) provided
- [ N/A] Example that reproduces the problem uploaded to Github
- [ X ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create Java Enum Class with JsonProperty
[code]
2. Reference class in response object/request params
3. Build OpenApi:
[code]
tasks.withType(JavaCompile) {

[2021-02-19 20:09] asodja commented on #438
@anandjaisy your example will work if change it to (note `components`):
[code]

Reason for that is: micronaut.openapi annotation processor deserializes yaml to OpenAPI object. So if your yaml does not start at the root of OpenAPI, it won't be merged correctly.

[2021-02-22 08:25] #438 closed

[2021-02-26 05:42] Hexer338 commented on #102
+1  for this feature.

[2021-03-01 15:21] anandjaisy commented on #437
Can you please provide an example of this configuration

[2021-03-01 15:22] anandjaisy commented on #422
can you please one example .

[2021-03-03 07:52] amhg opened #479 "Micronaut Swagge UI display specific module"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the project and visualize the Swagger Specification from the "startup" module. Which contains the SwaggerController
http://localhost:8080/api
2. Visualize the Swa

[2021-03-28 10:16] swaechter opened #482 "Schema attributes are in alphabetical and not natural class order"
### Steps to Reproduce

1.) Clone the repository https://github.com/swaechter/openapiproblems and run it
2.) Take a look at the attribute order of the class https://github.com/swaechter/openapiproblems/blob/master/src/main/java/ch/swaechter/Owner.java
3.) Take a look at the attribute order of `Owner` in http://localhost:8080/swagger/views/swagger-ui/index.html

### Expected Behaviour

The attribit

[2021-03-28 10:38] swaechter opened #483 "Schema attributes with inheritance are dropped"
### Steps to Reproduce

1.) Clone the example https://github.com/swaechter/openapiproblems
2.) Switch the version number in gradle.properties to 2.4.0 and run the application
3.) Check out the schema model `Owner` that has an attribute `vehicle` of the type Car/Bike
4.) Stop the application and update the version number 2.4.1. Run the application
5.) The schema attribute `vehicle` is now missing,

[2021-03-29 19:52] asodja commented on #482
This was probably fixed in https://github.com/micronaut-projects/micronaut-openapi/issues/467, there was just no release yet.

[2021-03-31 11:26] manti4ka opened #486 "micronaut-openapi v2.3.1 error - io.micronaut.context.exceptions.DependencyInjectionException"
### Steps to Reproduce

1. Micronaut + Kotlin project, includes micronaut-openapi - version 2.3.1 and swagger-annotations - version 2.1.7
2. Application has no problem to start and swagger documentation is generated but and gets error while injecting micronaut services
3. Error = "io.micronaut.context.exceptions.DependencyInjectionException: Failed to inject value for parameter [...] of class: com

[2021-04-14 12:13] Tomucha commented on #361
... or maybe possibility to inject "operationid naming strategy".

[2021-04-14 12:58] Tomucha commented on #361
Just to clarify a bit further - it often isn't possible to simply rename the method or add an annotation. Controllers might have common ancestor, in which case I have no possibility to influence resulting 'operationId' of the shared ancestor method and I end up with invalid OpenAPI specification ... (or is there something I can do?)

[2021-04-14 13:02] davidhiendl commented on #361
@Tomucha I worked around your problem with common methods by implementing them without annotations in the super class and then simply overwriting them and adding annotations as needed and calling the parent method.

[2021-04-14 13:04] Tomucha commented on #361
That's sounds like a lot of "super" calls, but I don't see any other possibility either. Thanks!

[2021-04-16 09:55] rikurb8 opened #490 "Certain data class attributes not being set as required in Openapi document"
### Steps to Reproduce

1. Create Micronaut project with Micronaut Openapi using Kotlin
2. Add return value for controller function that has non-optional fields
3. Build project to generate Openapi documentation

### Expected Behaviour

Values from data class should be generated in to Openapi documentation correctly, schema required section should contain all attributes not marked nullable

### Ac

[2021-04-19 11:57] swaechter commented on #467
Hey @asodja I tried to build your project and reference it in my OpenAPI sample repo (https://github.com/swaechter/openapiproblems).

[code]

In the project (You can find the change here: https://github.com/swaechter/openapiproblems/commit/b12be12d4e3356ee539e81d75aa41c964642fca1):
[code]

Do I miss something like overwriting the annotation processor version? Schem attributes are still sorted in a

[2021-04-21 16:11] asodja commented on #467
Hey @swaechter,

this should probagly fix your issue:
[code]

Note: it also works without `!!` at the end of version if you include `version = "2.4.2"` in Micronaut definition. But just to be sure, you can force it with `!!`.  When new OpenApi is released you can remove it.

To know what version your app is using use: `./gradlew dependencies `.

I hope that helps.

[2021-04-21 22:10] sk8geek opened #494 "Generated swagger.yml file always includes a `200` response since Micronaut 2.2.0"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to GitLab
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Get the latest version of Micronaut and include the OpenAPI feature.
2. Create a `@Controller` with a `@Put` operation and annotate with `@ApiResponse(responseCode =

[2021-04-22 01:22] dstepanov commented on #494
What is the actual response code by Micronaut? You might need to use `@Status`

[2021-04-22 07:23] sk8geek commented on #494
Thanks @dstepanov , when I run the application and call the endpoint I get the correct (`204`) response.
I've never used `@Status` before but this does fix this issue, thank you.  This feels like a change in default behaviour that has been silently introduced.

[2021-04-22 07:23] #494 closed

[2021-04-26 14:27] swaechter commented on #467
@asodja Thanks a lot for the diff (It works). Now I can save my coworker from mixing password/username in the Swagger GUI ;)

[2021-04-26 14:27] #482 closed

[2021-04-26 18:43] swaechter commented on #483
It looks like the schema generation itself is correct. What's broken are the schema references (Schema X has an attribute Y of type Z --> Relationship Z has always the type/value "string" or "object" without $ref). I found these two broken relationships:

* anyOf: An Owner can jave a Car OR Bike, but it has to be of type Vehicle/contain all values of type Vehicle)
* $ref for nested classes or enum

[2021-04-26 20:10] asodja commented on #483
It should not be related, since components ordering is done just before yaml is written to file, so my change does not affect actual schema referencing/creation. This change to you example also proves it:
[code]

So if you force latest Micronaut openapi that was released yesterday with my change and change Micronaut version to 2.4.0 everything works ok. If you change Micronaut version to >= 2.4.1

[2021-04-26 20:15] asodja commented on #483
Also it might be worth debugging, what is going on in:
https://github.com/micronaut-projects/micronaut-openapi/blob/9d9f092b0ea6f34d1beea8102d757ec58c8e9143/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L611

[2021-04-26 20:17] graemerocher commented on #483
It is quite easy to add tests for this project. See https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/test/groovy/io/micronaut/openapi/visitor/OpenApiComplexSchemaSpec.groovy for an example if you want to come up with a reproducer

[2021-04-27 12:35] asodja commented on #483
I had some time and played with this a bit, and the issue is this line where annotation on property and existing schema are merged:
https://github.com/micronaut-projects/micronaut-openapi/blob/9d9f092b0ea6f34d1beea8102d757ec58c8e9143/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L938

It looks like it behaves differently with new Micronaut, it might be due to Jacks

[2021-04-29 13:58] LajosPolya commented on #363
This is defined in the OpenAPI spec [here](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#schemaObject). How come this wasn't implemented by Micronaut?

I'd really like to see this feature as well.

[2021-04-29 14:00] graemerocher commented on #363
Nobody got round to it yet, but PRs welcome!

[2021-04-30 01:29] LajosPolya commented on #363
@graemerocher I've forked the repo, and I'm trying to replace my dependency with the source code but I can't find the micronaut-openapi jars in my module settings in IntelliJ. How can I replace compile time dependencies so I can debug the code?

[2021-04-30 22:35] LajosPolya commented on #363
@graemerocher I forked the repo, but when I try to run :spotlessApply but it converts all line endings to CRLF making the build fail. Can you help me out?

[2021-05-01 10:35] asodja commented on #347
It looks like that is correct Schema according to: https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/ for OpenApi 3.0.

Check:
[code]

 which is equal to:
[code]

You can translate yaml to json and you can see, that this is the same, only order of elements is different. But order does not matter.

[2021-05-05 19:08] jbreton commented on #490
`Long` and `Boolean` are also affected by this.

[2021-05-07 09:46] rikurb8 commented on #490
We added `@field:NotBlank` to all required attributes, with that the needed values get marked required automatically.

[2021-05-13 01:34] LajosPolya commented on #363
@graemerocher  Can you please take a look at my PR?

[2021-05-13 16:37] ivanmartinvalle commented on #402
As a workaround, I was able to redundantly add a path parameter annotation to remove the extra body parameter.

[code]

[2021-05-19 11:29] morki opened #508 "Automatic support for inheritance in request body and response"
It will be good to have automatic support for inheritance (anyOf, allOf) in controller's request body and response

### Steps to Reproduce

Given this Kotlin code:

[code]

### Expected Behaviour

Following `swagger.yml` is generated:

[code]

### Actual Behaviour

Following `swagger.yml` is generated:

[code]

### Workarounds

It is possible to do it by specifying `@Operation` annotations, but it

[2021-05-19 12:25] ghost opened #509 "Support for Multiple swagger definition"
Using the version for the Rest API. I want to have a multiple swagger definition using Micronaut open-API
I have the below code structure
![image](https://user-images.githubusercontent.com/1625641/118811530-77698d00-b8f0-11eb-9673-313b6d3f292d.png)

**Version 1**

[code]

**Version 2**

[code]

This generate the swagger documentation as
![image](https://user-images.githubusercontent.com/1625641/11

[2021-05-19 16:07] anandjaisy commented on #422
Hey is there any other way to use these setting instead of system properties

[code]
I want to configure these setting in `application.yml`

[2021-05-19 20:40] asodja commented on #508
Since I had similar problems recently:
With Micronaut Openapi 2.5.0 something like this should help you avoid `@Operation`.
[code]

It looks like Micronaut does not check Jackson annotations `@JsonTypeInfo` and `@JsonSubTypes` , also if Pet is interface you have to explicitly add `@Schema(allOf = Pet.class)`. Interestingly that is not needed if Pet would be abstract class.

This does not solve thi

[2021-05-20 07:28] morki commented on #508
@asodja It does solve this issue very nicely! :)

Because now I can contribute only `AnnotationMapper` from `JsonSubtypes` and `JsonTypeInfo` to `Schema` and if it works, I can be available for all of us.

[2021-05-21 08:46] morki commented on #508
@graemerocher please is there any way to map two annotations into one, like in comment above?
I would like to contribute this, but It seems `AnnotationMapper` can only map one annotation to many.

[2021-05-21 08:58] graemerocher commented on #508
you will need a `TypeElementVisitor` that returns `ISOLATING` for `getKind`

[2021-05-21 08:58] graemerocher commented on #508
it would also need to override `getAnnotationNames()` with all the supported annotations

[2021-05-21 12:21] asodja commented on #508
Maybe in this case would be easier to not do any mapping but just check for Jackson annotations in Openapi visitor logic.

That way you can also prioritize `@Schema` if it exist: so the case where user adds Jackson and `@Schema`, `@Schema` should win.

[2021-05-21 13:15] morki commented on #508
Yes, but `ElementVisitor`s, especially the OpenAPI one is beyond my power :( I tried to understand the code many hours now, to bring some solution, but without success.

If someone can create PR, it would be awesome. If not, I will try to study these concepts and code more and try to create PR in future.

In every case, thank you very much for your help :)

[2021-05-21 13:55] asodja commented on #508
I dig in this code recently and I believe annotations are resolved here:
https://github.com/micronaut-projects/micronaut-openapi/blob/f22869f82bac0f00d3b5a2c730c6a1b9270e6741/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L614-L620

And here:
https://github.com/micronaut-projects/micronaut-openapi/blob/f22869f82bac0f00d3b5a2c730c6a1b9270e6741/openapi/src/main/java/i

[2021-05-21 17:04] morki commented on #508
Thank you very much @asodja, this is the starting point I needed :)

[2021-05-31 13:26] graemerocher opened #517 "Add support for the Swagger codegen CLI project"
See https://github.com/swagger-api/swagger-codegen

[2021-06-01 16:53] debuglevel commented on #517
Great idea, that would be wonderful! Especially generating Micronaut declarative HTTP clients would be nice.

There are at least two OpenAPI code generators: https://github.com/swagger-api/swagger-codegen is the legacy project by Swagger/Smartbear (not much happening since early 2018) while https://github.com/OpenAPITools/openapi-generator is the active community-driven fork.

[2021-06-08 15:44] #363 closed

[2021-06-17 07:58] ilopmar opened #519 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-18 00:44] jcfrk101 opened #520 "Swagger UI Views not generating in 2.5.6"
I have configured my micronauts project to compile swagger docs, and I can see a /swagger directory with an openapi yaml file, yet I cannot get swagger UI views to generate. I'm not sure this is a bug, it may be a configuration issue on my end, but I haven't been able to figure out what is wrong. A portion of my pom is copied below.

<build>
    <plugins>
      <plugin>
        <groupId>io.microna

[2021-06-18 09:38] ilopmar commented on #520
As a workaround you can create the file `openapi.properties` in the root of your project:

[code]

[2021-06-21 22:27] psoares commented on #517
I've been wanting this for ages. I definitely recommend using openapi-generator instead.
Here are a few pointers:
- https://openapi-generator.tech/docs/templating
- The Springboot generator template, as an example: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/JavaSpring

[2021-06-22 06:00] graemerocher commented on #517
`openapi-generator` support is being worked on based on what is there for Spring, we will let you know when there is something to try out

[2021-06-23 18:03] nathanwang-ops commented on #416
@preyest1300 I have same issue, I am trying to add `@Parameter annotation at method level`, the output of Parameters[] is empty.
Thanks!

[2021-06-24 10:54] VladimirKotl opened #522 "Allowable values missing in generated OpenAPI (Swagger) YAML"
### Steps to Reproduce

1. Micronaut + Java project
2. build.gradle
[code]
3. application.java
[code]

### Expected Behaviour

I expected that "allowableValues" are generated in my swagger yml file

[code]

### Actual Behaviour
Generated swagger file is

[code]

The missing part is
      enum:
      - v1
      - v2

### Environment Information

- **Operating System**: Windows 10
- **Micronaut Vers

[2021-07-20 08:53] ilopmar commented on #519
Fixed by #530

[2021-07-20 08:53] #519 closed

[2021-07-20 13:42] rdesgroppes opened #532 "Expansion of properties doesn't seem to work for numeric fields"
Expansion of properties doesn't seem to work for schema examples set on numeric fields.

### Steps to Reproduce

1. Have a project with a custom `openapi.properties` file (as per https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#propertiesFileConfiguration)
2. Add a property `micronaut.openapi.expand.example.version=42` to it
3. Get the property expanded in the example

[2021-08-04 09:30] ilopmar commented on #361
Although the PR #498 fixed this, it can be improved to not change all the `operationId` but only the duplicated. See comments in the PR for more context.

What I'm going to do is the same this as Spring Boot does. When there is a duplicate I'll add a suffix `_1` to the first duplicate, `_2` to the second, and so on. With this approach the generated operationId won't change unless there are duplica

[2021-08-04 16:19] davidhiendl commented on #361
While ensuring unique IDs via suffixes might work it will generate non-expressive operationIds. Those are often used in openapi generators for method names, which will result in very ugly interfaces.

I believe an appropriate approach would be to implement the naming logic with a strategy-plugin and providing 1-2 default implementations + customization options. I currently work around the issue by

[2021-08-05 07:48] ilopmar commented on #361
Thanks for your input on this.

One thing we should keep in mind is that we can't make the generated openapi perfect for every user and there are always trade offs.
The solution you propose seems to me just too much because there is an easy and simple solution for users that want to customize the generated openapi. Use the swagger annotations and that's it. You will get the exact output you are lo

[2021-08-06 10:48] ilopmar commented on #508
The expected output doesn't need to include again the "expanded" version of `Pet`, it's enough to use the `$ref` to the component. So the expected output would be something like:

[code]

[2021-08-06 11:25] #361 closed

[2021-08-06 11:25] #441 closed

[2021-08-06 11:34] ilopmar commented on #490
Fixed by #540

[2021-08-06 11:34] #490 closed

[2021-08-06 15:36] #508 closed

[2021-08-10 21:10] rawilder opened #544 "SwaggerUIConfig operationsSorter and tagsSorter not generated with quotes"
### Expected Behavior

Configuring the sorters with one of the swagger allowed defaults ('alpha', 'method', etc.) generates an index.html referencing the sorter as a string so it can be parsed correctly.

### Actual Behaviour

The index.html generated has an unquoted value inserted causing a js error when the page is loaded.

### Steps To Reproduce

1. With an app that has open-api enabled and gen

[2021-08-10 21:12] rawilder commented on #544
I tried a few different way to escape single quotes and double quotes but they always got removed when put into index.html. In SwaggerUIConfig, it looks like `AbstractViewConfig::asQuotedString` might be a fix for this particular case. I could also be misusing the command line options somehow, please correct me if so.

[2021-08-11 11:24] ilopmar commented on #80
I'm closing this because I don't see feasible to keep two (or even more) different implementations at the same time.

Besides that, one thing to keep in mind is that OpenAPI 2.0 is way to old and that 3.0.0 was released on 2017, so almost 4 years ago (see https://swagger.io/specification/#appendix-a-revision-history):

![image](https://user-images.githubusercontent.com/559192/129020211-a74d66cd-c5

[2021-08-11 11:24] #80 closed

[2021-08-11 13:20] ilopmar commented on #155
This is the same as in #416 and it's fixed by #545.

Please keep in mind that you need to annotate `qParam` with `@Parameter(hidden = true)` to skip it.

[2021-08-11 13:20] #416 closed

[2021-08-11 13:20] #155 closed

[2021-08-13 12:12] swaechter opened #548 "UUID schema parameter is not detected as OpenAPI inbuilt type but as custom schema"
### Expected Behavior

Let's say we have a `Greeting` class with a `message` that will be sent from `senderId` to `receiverId`. A schema would look like this:

[code]

The OpenAPI schema should look like this:

[code]

### Actual Behaviour

Instead we have two problem:

1.) I have to annotate `@Schema` on the class-attribute and not on the getter-method. Annotating `@Schema` for `receiverId` on th

[2021-08-13 23:12] jonnii opened #550 "Kotlin data classes not marking non-nullable fields as required"
### Expected Behavior

Kotlin data classes with non nullable fields should have the swagger attributes marked as `required`

### Actual Behaviour

The fields are being marked as optionla

### Steps To Reproduce

https://github.com/jonnii/demo/commit/d30b76ba0a73ef669822cb9f507e990efd1c44b4

This commit shows an upgrade from `2.5.8` to `2.5.12` which exhibits this problem.

### Environment Informat

[2021-08-15 16:01] mariogarcia opened #551 "Override templates to add branding"
### Feature description

Hi

First of all, thanks for all the great work.

The use case I'm trying to achieve is to add a brand logo in the generated rapidoc page. I think it makes sense to have some branding, specially when a company, for example, wants to expose its REST API in a sandbox for developers, you'd normally see at least the company's logo.

Taking a look to the [rapidoc documentation]

[2021-08-16 09:53] ilopmar commented on #550
We broke it during Micronaut 3 upgrade, this is the culprit https://github.com/micronaut-projects/micronaut-openapi/commit/2e21d4ef5509e6d8de54271ecc1891f45f36df4d. That commit is included in both `2.6.0` (shipped with Micronaut 2.5.12) and in `3.0.0`.

We released `3.0.0` because it contained the breaking change about mandatory params included in #540, but we didn't realize that it was a regressi

[2021-08-16 11:58] ilopmar commented on #551
There are two approaches:
- Allow to pass more parameters/options to be included in the `<rapi-doc>xxxx</rapi-doc>` tags
- Allow to have a custom template on the project instead of using the one in this library.

For the second approach I've tried to have my own custom template in a test application but when trying to read the file here https://github.com/micronaut-projects/micronaut-openapi/blob/

[2021-08-16 13:34] #522 closed

[2021-08-16 13:35] #548 closed

[2021-08-16 14:16] ilopmar commented on #550
Fixed by #553

[2021-08-16 14:16] #550 closed

[2021-08-16 14:17] ilopmar commented on #550
@jonnii The fix is included in micronaut-open 2.6.2. Please force that version manually until we release Micronaut 2.5.13 that will include it by default.

[2021-08-16 14:23] jonnii commented on #550
great, thanks!

[2021-08-17 11:40] anandjaisy commented on #551
How can we add Logo and company name for swagger documentation?

[2021-08-17 11:44] ilopmar commented on #551
@anandjaisy following the same workaround I explained but using the swagger-ui index.html file generated in your project instead of the rapidoc one.

[2021-08-17 14:44] mariogarcia commented on #551
For rapidoc I did as @ilopmar mentioned,

I created the following template `index.html` (see below) and put it in the `templates` path directory in my project root dir so that the micronaut-openapi could pick it up from there and use it at runtime.

[code]
There are parts that would be different in your use case of course. The only things I added were:

- `<style/>` content
- All tags inside `<rap

[2021-08-18 23:31] Larkhis commented on #517
The new open api generator java-micronaut-client on beta version was finally released.
See [https://openapi-generator.tech/docs/generators/java-micronaut-client](https://openapi-generator.tech/docs/generators/java-micronaut-client)

[2021-08-19 08:28] #517 closed

[2021-08-19 15:43] ilopmar commented on #347
I've tried with the following code and Micronaut 3.0.0:

[code]

[code]

[code]

And it generates:

[code]

And it is a valid openapi definition:

![image](https://user-images.githubusercontent.com/559192/130099303-35b014eb-d36a-4f7b-b7e6-9facc048981b.png)

@alphawolf1988 if you can provide an application that reproduces the problem I'll take a look. Otherwise I'll close the issue in a few days.

[2021-08-19 16:38] swaechter commented on #548
Thanks a lot for the fix. Just upgraded several applications and everything works like expected :)

[2021-08-20 14:30] ilopmar commented on #532
This is not as simple as it seemed at the beginning so I'm writing here what I've discovered and tried just to remember when I get back to this issue.

### Issue

What happens is that in line 1010 we use jackson to update the `schemaToBind`, which is the `@Schema` we are processing for the current property, with the values from `schemaJson` (that contains something like `{"example":"${example.vers

[2021-08-20 20:39] jonnii opened #555 "BigDecimal swagger rendering"
### Expected Behavior

When applying a `@Schema(type = "string")` annotation to a field of BigDecimal it should change the `type` in the swagger to `string`.

### Actual Behaviour

The field instead lifts the BigDecimal type up as a schema type.

### Steps To Reproduce

Below is an example of a diff where the annotation was added and the corresponding swagger diff that occurred.

[code]

### Envir

[2021-08-20 20:42] jonnii commented on #555
For those looking for a work around it is possible to do the following:

[code]

Which _should_ change the implementation type to look like a string instead of a `BigDecimal`.

[2021-09-05 15:53] lwolter opened #561 "compileGroovy: Unable to load class 'io.micronaut.annotation.processing.visitor.JavaClassElement' after upgrade to 3.0.0"
### Expected Behavior

After upgrading my micronaut groovy project to version 3.0.0 I get the error message without reference to an error location:
`Task :compileGroovy FAILED

FAILURE: Build failed with an exception.

What went wrong:
Execution failed for task ':compileGroovy'.
io/micronaut/annotation/processing/visitor/JavaClassElement

Unable to load class 'io.micronaut.annotation.processing.vi

[2021-09-06 14:35] #561 closed

[2021-09-08 10:59] eratio08 opened #564 "@Schema on BigDecimal field causes POJO behavior"
### Expected Behavior

In 2.x.x it was

[code]
[code]

### Actual Behaviour

In 3.0.0 the PoJo behavior as describe in https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#schemasAndPojos is applied.

[code]

Leaving out the `@Schema` annotation will lead to the expected behavior.

### Steps To Reproduce

run `gradle clean assemble`

### Environment Information

macOS=11.

[2021-09-08 11:19] ilopmar commented on #564
Probably related to #555

[2021-09-08 11:20] ilopmar commented on #347
Closed due to the lack of feedback. If the problem still happens, please file a new issue with an application that reproduces the problem.

[2021-09-08 11:20] #347 closed

[2021-09-08 14:05] #555 closed

[2021-09-08 14:05] #564 closed

[2021-09-08 14:15] ilopmar commented on #564
The fix is included in micronaut-openapi 3.0.3. It will be included by default in Micronaut 3.0.2, in the meantime you can force that specific version.

[2021-09-08 14:15] ilopmar commented on #555
The fix is included in micronaut-openapi 3.0.3. It will be included by default in Micronaut 3.0.2, in the meantime you can force that specific version.

[2021-09-10 15:45] Bendzae opened #567 "Setting endpoints.path in openapi.properties produces an error the OpenApiEndpointVisitor"
### Expected Behavior

Should set base path for endpoints without error.

### Actual Behaviour

Produces the following error:
`Error finalizing type visitor [io.micronaut.openapi.visitor.OpenApiApplicationVisitor@39347774]: begin 10, end 9, length 14`

### Steps To Reproduce

1. In a micronaut application
2. set the property `endpoints.path=/internal` in `openapi.properties`
3. build the project

[2021-09-11 13:34] Bendzae commented on #567
Possible fix in [EndpointsConfiguration.java](https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/EndpointsConfiguration.java):
Change:
` private static boolean validEntry(Map.Entry<String, String> entry) {
        return entry.getKey().startsWith(ENDPOINTS_PREFIX)
        && !entry.getKey().equals(ENDPOINTS_ENABLED)
        && !en

[2021-09-20 09:38] nfode opened #570 "Using Mono<Void> as return type for a endpoint generates and uses a Void schema as response body instead of nothing"
### Expected Behavior

The expected behavior is like it worked for us before updating to the latest micronaut and micronaut-openapi version. Before, we were using micronaut 2.1.1 and micronaut-openapi 1.5.3.

We tried to reproduce and debug the issue with versions in between our version and the latest micronaut and micronaut-api versions, but could not find in which version the behaviour changed.

[2021-09-20 13:28] ilopmar commented on #570
So, after giving a second though and try with all latest minor version from 3.0.x down to 2.1.x (also including 2.1.1). The behavior is the same in all versions. I've also tried with `Maybe` just in case and the output is:

[code]

[2021-09-20 14:06] ilopmar commented on #570
In cases like this which is not 100% clear what to do, I try to do the same with Spring Boot just to check what the Spring team decided.

This is the output and I don't really like it because it creates those artificial schemas like `MaybeVoid`, `MonoString`,...

[code]

[2021-09-21 07:56] nfode commented on #570
It is interesting that no one ever had a problem with the artificial schemas for Mono/Flux<Void> return types. For me, it felt natural that when a blocking method with Void/Unit as type results in no response body, the reactive way should too. And if I understand correctly, using Mono<Void>/Flux<Void> is the reactive way of saying there is no response.

I would be ok with having artificial schemas

[2021-09-21 08:07] ilopmar commented on #570
I don't think this is true. Returning a `Mono/Flux` means that you return a reactive type. In the case of `Mono` it means that it can be one element or no element at all, but doesn't imply "no respose".

Using the `@Schema` annotation doesn't work because by default it uses `Void`:

![image](https://user-images.githubusercontent.com/559192/134135198-e42db02f-f95d-4f91-a701-fefa70f8feaf.png)

[2021-09-21 08:33] nfode commented on #570
In some sense, it does. It signals that there is only completion, but no return value. From the [reactor doc](https://projectreactor.io/docs/core/release/reference/#mono): "Note that you can use a Mono to represent no-value asynchronous processes that only have the concept of completion (similar to a Runnable). To create one, you can use an empty Mono<Void>." In my understanding, it is similar to

[2021-09-21 08:37] ilopmar commented on #570
I'm not sure about the `Void` type. With the following in my controller:

[code]

I get:

[code]

[2021-09-21 08:48] nfode commented on #570
That means defining no return type results in an empty response, and defining a return type results in a generated schema no matter what the type is.

In my opinion, Void should be a special case here, since there is no other way of saying I do not want a response that results in additional schemas. But I can understand if micronaut-openapi does not want to change that behavior because of one pers

[2021-09-21 08:53] ilopmar commented on #570
Having that behavior by default is a bad idea because it's a breaking change and nobody has complained about it. But I can see that `Void` could be a special case, so it makes sense to treat it like that behind some flag.
Feel free to send a PR and I'm gladly review it :-)

[2021-09-21 08:54] nfode commented on #570
Can you give me some pointers where I would implement that feature? I already had a look at the code but had no idea where I would implement this :)

[2021-09-21 10:23] ilopmar commented on #570
Sorry for the delay, I've been fighting with Gradle :sob:

You can set a breaking point in this method: https://github.com/micronaut-projects/micronaut-openapi/blob/dd718e9fa9b6a0d1d3e7324ab4acb461d5c8a7c4/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L636

In there `type` is the return type of the controller action, so in this case it would be `java.lang.Void`.
In

[2021-09-22 14:04] #544 closed

[2021-09-22 15:59] ilopmar commented on #520
The docs were wrong. The right argument is `-Amicronaut.openapi.views.spec=rapidoc.enabled=true,swagger-ui.enabled=true,swagger-ui.theme=flattop` with `-A` instead of `-J-D`. See #576

[2021-09-23 08:00] #520 closed

[2021-09-23 08:01] #567 closed

[2021-09-24 19:25] cemo opened #577 "Interface Inheritance"
### Expected Behavior

OpenApi spec must be created properly for interfaces too.

### Actual Behaviour

It is working for classes but not interface based inheritance.

### Steps To Reproduce

1. checkout main branch
2. clone https://github.com/cemo/swagger-spec
3. mvn clean compile

Check `target/classes/META-INF/swagger/swagger-spec-0.0.yml`

It has **not including** `BaseQueryParams`

-----

swi

[2021-09-24 20:44] graemerocher commented on #577
`@JsonProperty` is not an inherited annotation

[2021-09-24 20:45] cemo commented on #577
@graemerocher  How can I make it inherited?

[2021-09-24 20:52] cemo commented on #577
I cleaned all jsonProperty annotations. Result is same. Actually It was simplified version piece of code but I forgot to delete that annotations.

[2021-09-24 20:55] cemo commented on #577
`  - $ref: '#/components/schemas/BaseQueryParams'` is missing in the first version. I can take a look if you guide me @graemerocher.

[code]

[2021-09-24 21:15] cemo commented on #577
@graemerocher
https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/AbstractOpenApiVisitor.java#L1200

this line is returning null for interfaces. I am blindly guessing but calling `classElement.isInterface()` with classElement.getInterfaces().get(0) may resolve issue. Would you accept a PR? :)

[2021-09-24 21:56] cemo commented on #577
micronaut-openapi is using 2.5.x in the gradle config. This version brings `micronaut-inject` 2.5.x which does not have `getInterfaces` method. :) Any help will be helpful.

https://github.com/micronaut-projects/micronaut-openapi/blob/0c8f9fe13b7be0db8e73938b8b2f9e1807444a5f/gradle.properties#L4

Thanks

[2021-09-27 11:24] cemo commented on #577
@graemerocher, gentle ping.
would you please provide necessary guidance?

[2021-09-27 11:30] ilopmar commented on #509
Is this even supported in OpenAPI/Swagger?

BTW, your repository doesn't exist anymore.

[2021-09-27 11:55] graemerocher commented on #577
PRs welcome

[2021-09-27 12:10] cemo commented on #577
@graemerocher I will open a PR but I need to upgrade version of micronaut in the gradle properties. Is this accepted?

[2021-09-27 12:34] graemerocher commented on #577
Yes but you will probably need to bump the minor version

[2021-09-27 12:38] cemo commented on #577
@graemerocher
The code is introduced against 3.x
https://github.com/micronaut-projects/micronaut-core/commit/67b4590f292a728a9517927221f44aea41d54052

[2021-09-27 22:30] b0c1 opened #580 "Generic support for operationId"
### Issue description

Hi guys,

now the operationId is based on method name, but it's unusable when my controller methods is defined in a generic class (example CRUD). Maybe a custom annotation on the parent class will help, like this:

[code]

[2021-09-29 06:13] Poorva17 opened #582 "Kotlin classes can not be marked as nullable in open api spec"
### Expected Behavior

val students: List<Student>? // works and generate as `null or array of objects`
val student: Student? // null or object
val name: String? // null or string

### Actual Behaviour

val students: List<Student>? // works as expected
val student: Student? // Does NOT work. It shows as non nullable field
val name: String? // works as expected

### Steps To Reproduce

Version:

ka

[2021-09-29 08:10] ilopmar commented on #582
Some things has changed since 1.5.2. Can you please try with micronaut-openapi 3.0.4 or 2.6.2?

[2021-09-29 08:43] volkert-fastned opened #584 "OpenAPI doc generation should be conditional on `@Requires` annotations on Controllers"
### Expected Behavior

Suppose you have a controller defined like this (I'm using Kotlin here, but the language doesn't matter in this context):

[code]

Now if the application is launched  in a Micronaut environment other than `test-env`, this controller rightly is excluded.

`micronaut-openapi` should then also exclude this endpoint from Swagger/OpenAPI documentation generation.

### Actual Beha

[2021-09-29 08:46] volkert-fastned commented on #584
Now I understand that Micronaut processes annotations like this at compile time and not at runtime. Perhaps a solution would be to generate different Swagger/OpenAPI docs for the different Micronaut environments that are defined in the `@Requires` annotations, and then select the applicable one on application startup, depending on what Micronaut environments are active?

[2021-09-29 08:47] cemo commented on #570
I think I had resolved this issue as well. Can you try with latest master branch? If I can find a time, I will take a look today.

[2021-09-29 09:22] #402 closed

[2021-09-29 09:28] ilopmar commented on #584
You can annotate the controller or the action with `@Hidden` so it will be skipped. It's not exactly what you want but it will allow you to hide that endpoint for non-test environments.

[2021-09-29 09:29] ilopmar commented on #580
Can you please share a simple application with your use case and explain what would be the expected openapi?

[2021-09-29 09:55] ilopmar commented on #570
Given the following controller:

[code]

It generates the following openapi:

[code]

So, for this issue with `Mono<Void>` it works but for the other types: `Flux<Void>`, `Maybe<Void>` and `Void` it doesn't.
@cemo you've changed something related to this in your last PR, would you like to give it a try to this one to fix what's left?

[2021-09-29 09:56] volkert-fastned commented on #584
@ilopmar Thanks. I am aware of that option, but an eventual dynamic solution would still be appreciated.

[2021-09-30 05:07] Poorva17 commented on #582
Hello @ilopmar , thank you for quick response.
https://mvnrepository.com/artifact/io.micronaut.configuration/micronaut-openapi Version 1.5.3 is the latest version available on maven central.

[2021-09-30 06:37] ilopmar commented on #582
That's a really old version so I'm assuming you still use Micronaut 1.x. For Micronaut 2 we changed the groupId: https://mvnrepository.com/artifact/io.micronaut.openapi/micronaut-openapi

Can you please try with a fresh 3.0.2 application created from Launch (https://micronaut.io/launch) or at least share a simple application that reproduces the problem with latest version.

[2021-10-01 11:43] sujeet100 opened #587 "Non required fields are incorrectly marked as required in the swagger ui"
### Expected Behavior

the default value for required is false in the @Schema annotation, hence the generated swagger ui documentation should show respective fields as not required (without red asterisk)
@Schema(description = "some description", implementation = Foo.class)

When the required value is explicitly set to false then the generated swagger ui documentation should show respective fields

[2021-10-01 13:11] ilopmar commented on #587
This has probably to do with the constructor of the class. If a parameter is mandatory in the constructor, then it's required. To make sure, please share a small app that reproduces the problem and I'll take a look

[2021-10-03 05:43] sujeet100 commented on #587
Example application: https://github.com/sujeet100/micronaut-swagger-example
Check Person and Address classes. I have added comments on the fields about the expected and actual behavior.

[2021-10-03 11:16] sujeet100 commented on #587
The issue is because of the use of the `booleanValue` API from AnnotationValue
https://github.com/micronaut-projects/micronaut-core/issues/2387
The API does not consider the default value from the annotation.

I would like to contribute a PR to fix this issue.
Also the generated openapi documentation contains string array for required field with boolean value as strings
[code]
In the above example

[2021-10-04 12:17] oliver-doller commented on #570
Collegue of @nfode  here.

I tried it with the newest Snapshot `kapt("io.micronaut.openapi:micronaut-openapi:3.1.0-SNAPSHOT")` and it looked fine for me.
The controllers in question all use `Mono <Void>`.

[2021-10-04 13:48] ilopmar commented on #570
As I mentioned before, now it does work with `Mono<Void>` but it doesn't with `Flux<Void>` or `Maybe<Void>`.

[2021-10-05 09:13] #570 closed

[2021-10-08 19:24] morki opened #592 "Support Kotlin return type Unit"
### Feature description

Just like #591 but for Kotlin's equivalent `kotlin.Unit`.

[2021-10-08 19:27] morki commented on #592
I think it can be as easy as adding `kotlin.Unit` here:

[code]

I'll try to create PR.

[2021-10-11 10:29] ilopmar opened #593 "Do not use Micronaut core `@Internal` classes"
Currently in `JavaClassElementExt` and `JavaMethodElementExt` we are extending from micronaut core `@Internal` classes `JavaClassElement` and `JavaMethodElement`.

This makes this module fragile because when we modify `JavaClassElement` constructors this module doesn't compile anymore.

Analyze why those classes are needed and remove them. Maybe some changes are needed in core to expose some missi

[2021-10-11 11:22] ilopmar opened #594 "Support Java Records"
### Feature description

Currently Micronaut OpenAPI does not supports properly Java Records. Having the following record used in a controller:

[code]

The generated openapi is:

[code]

If we define `Person` as a regular POJO with constructor and getters/setters the generated openapi is:

[code]

This is the diff between both files:

![image](https://user-images.githubusercontent.com/559192/1367

[2021-10-18 14:31] #592 closed, assigned to nobody

[2021-10-21 13:32] davidgiga1993 opened #601 "Path param with regex result in invalid openapi spec"
### Expected Behavior

When using a pattern in a path the generated openapi path is invalid.
Example:
[code]
[code]

### Actual Behaviour

The regex should be removed and a plain url should be used:
[code]

Additionaly the regex may be added to the description of the parameter

### Steps To Reproduce

See above

### Environment Information

_No response_

### Example Application

_No response_

##

[2021-10-23 12:35] fmonorchio opened #602 "OpenAPI annotation processor for Groovy not works as expected"
### Expected Behavior

Hi all,

I need to add the management endpoints to openapi specification file  with the annotation @OpenAPIManagement and import a controller endpoints from another gradle submodule with @OpenAPIInclude.
But in the generated specification nothing is present.

I added the compile dependency io.micronaut.openapi:micronaut.openapi
In my project I'm using Groovy 3 and Micronaut

[2021-10-28 16:21] jbreton opened #605 "Nullable properties generate incorrect OpenAPI specification"
### Expected Behavior

I updated a project from micronaut 2.5.11 to 3.1.2 and the typescript SDK generator we use stoped working correctly.

The problem is related to how nullable properties are handled.

Given a class with a nullable property like this
[code]

That class would procude this in micronaut 2.5.11 :
[code]

As of micronaut 3.1.2, it will produce :
[code]
This particular structure caus

[2021-11-03 09:45] ilopmar commented on #509
Closing due to the lack of feedback

[2021-11-03 09:45] #509 closed

[2021-11-03 09:45] ilopmar commented on #582
Closing due to the lack of feedback

[2021-11-03 09:45] #582 closed

[2021-11-03 11:55] ilopmar commented on #602
Can you please share an application that reproduces your problem?

[2021-11-04 14:53] #593 closed

[2021-11-07 11:07] fmonorchio commented on #602
Sure, I share it in a few days.

[2021-11-07 12:51] fmonorchio commented on #602
https://github.com/fmonorchio/micronaut-openapi-test

[2021-11-10 14:13] ilopmar commented on #602
The problem can be reproduced with a very simple Groovy project. The same project with Java works properly (adding the appropriate dependencies). I'll dig to see why this happens.

P.S: As an unsolicited advice, when you create an application that reproduces a problem, please try to make it as easy and simple as possible. Your sample application is more complex than it should be :sweat_smile:

[2021-11-10 14:25] fmonorchio commented on #602
I have copied my source code as possible. :-)

Next time, I follow your advice for sure. Sorry @ilopmar

[2021-11-10 16:04] ilopmar commented on #602
The code does nothing for Groovy because we are explicitly not running it, see https://github.com/micronaut-projects/micronaut-openapi/blob/master/openapi/src/main/java/io/micronaut/openapi/visitor/OpenApiIncludeVisitor.java#L45-L47

After removing that `if` there is an error during compilation. I've reported an issue (https://github.com/micronaut-projects/micronaut-core/issues/6503) to Micronaut

[2021-11-11 16:35] davidjessop opened #611 "Kotlin data classes can have @NotNull fields marked as nullable in swagger output"
### Expected Behavior

For a request DTO;

[code]

The fields are required but declared as nullable strings to allow the application to deserialise the request and validate it, even in the event that the client has omitted a field.

Since the fields are annotated as `@NotNull` I would expect them not to be marked as nullable in the swagger output

### Actual Behaviour

The `@NotNull` annotations c

[2021-11-24 08:48] morki opened #616 "Invalid stripping of `is` prefix from `Boolean` properties"
### Expected Behavior

With following data class:
[code]

This OpenAPI specification is generated:
[code]

### Actual Behaviour

With the same code as above, the following OpenAPI specification is generated:
[code]

### Steps To Reproduce

See above.

### Environment Information

Not applicable.

### Example Application

_No response_

### Version

3.1.4

[2021-11-25 05:33] sdelamo opened #617 "Don't generate 200 if the user specify a responseCode with swagger annotations"
### Expected Behavior

When specifying a `@ApiResponse(responseCode` don't generate 200 status code.

### Actual Behaviour

200 response is always generated.

### Steps To Reproduce

Create an application with `openapi` feature.

Create two controllers:

[code]

[code]

compile the application  `./gradlew classes`

The following OpenAPI file is generated:

[code]

I expected the root path to be:

[2021-11-25 12:32] bartoleo opened #618 "Error Type io.micronaut.management.endpoint.annotation.Endpoint not present, using OpenAPIInclude"
### Expected Behavior

Hi I want to add docs from compiled classes using @OpenAPIInclude

### Actual Behaviour

To use it I must add the dependency:
`implementation("io.micronaut.openapi:micronaut-openapi:3.2.0")`

Withouth it I get
[code]

Adding it:
[code]

I get
[code]

### Steps To Reproduce

1. generate a new Micronaut app with "openapi" feature
2. change build.gradle to add implementation("i

[2021-11-25 14:14] ilopmar commented on #617
As a workaround I think it should work adding `@Status(HttpStatus.SEE_OTHER)`

[2021-11-25 17:17] bartoleo commented on #618
Sorry I found it, I was missing the dependency:
`    annotationProcessor("io.micronaut:micronaut-management:3.2.0") `

[2021-11-25 17:17] #618 closed

[2021-11-26 08:15] ilopmar commented on #618
@bartoleo if you think the docs are not good enough to explain this use case, please feel free to send a PR to improve them. Thanks.

[2021-12-13 14:41] ilopmar commented on #611
This doesn't make sense to me. A field is either optional or not, but it can't be both things at the same time. What is happening is that kapt generates the following stub:

[code]

Which again doesn't make sense and that's why the output of the generated OpenApi is not what you expect.

If you want to make the fields optional, as it seems you want because you want _allow the application to deseri

[2021-12-15 16:10] jonnii commented on #611
@ilopmar this is also a problem for us too, the issue is if you make a arg to a type non-nullable then you get a bad request because the type cannot be deserialized so if we want to have the validation work we need to make the type non-nullable. This is an problem for all the validation annotations whether or not the type is null or not.

[2021-12-15 16:57] ilopmar commented on #611
@jonnii can you please share a class and controller with your specific example? (I don't need a full application, just those two classes).

[2021-12-15 17:09] jonnii commented on #611
@ilopmar redacted but should give you an idea:

[code]

If we make the `customerName` a `String` then the validation never triggers because the entity cannot be created in order to validate it.

[2021-12-16 11:23] djessop-nydig commented on #611
My situation is that I have request DTOs with a number of fields with a variety of validation annotations, e.g.

[code]

If a request violates the validation rules I want to return a response that reports all of the validation failures, e.g. if a client posts;
[code]

the response should report both that `customerName` must not be null and that `dateOfBirth` must not be in the future. The validati

[2021-12-20 15:41] ilopmar commented on #611
Basically the problem here are Kotlin data classes. The following works as expected in Java:

[code]

It generates:

[code]

What happens, as mentioned before is that Kotlin generates the following stub:

[code]

Which again contains opposite annotations. Fields are annotated with both `@Nullable` and `@NotNull` but also the constructor uses `@Nullable`.
What we do to decide if whether a property

[2021-12-21 15:59] ilopmar opened #632 "`@Schema` on a property should have priority over the constructor"
### Actual Behaviour

This is related to #611.

Using a a Kotlin data class as a parameter of a controller action, if defining the types as nullable (with the `?`):

[code]

Kapt generates this stub:

[code]

When processing and deciding if a property is nullable or not we look `@Schema(required = ...)` but we don't check if `@Schema(nullable = ...)` is defined or not.

https://github.com/micronau

[2021-12-21 16:03] ilopmar commented on #611
Related issue in core: https://github.com/micronaut-projects/micronaut-core/issues/6681 and related issue here https://github.com/micronaut-projects/micronaut-openapi/issues/632

Once #632 is fixed you would be to use `@Schema(nullable = false)` to generate the appropriate openapi definition.

In the mean time, in the core issue there is an option about having two data classes, one for validation

[2021-12-22 21:42] mjohnston-il opened #633 "SecurityScheme annotation should populate the name property"
### Expected Behavior

When using a @SecurityScheme annotation like
[code]

The OpenApi schema file contains this definition:
[code]

According to the `org.openapi.generator` openApiValidate task, this is invalid.  It complains that
[code]

I believe that if the `paramName` attribute is set, then we should use the name value.  Thus, the OpenApi schema should look like this:
[code]

### Actual Beha

[2021-12-30 06:20] Poorva17 opened #635 "Generated OpenAPI is having wrong key"
### Expected Behavior

When request / response body has parameter prefixed with `is`, its wrongly put in generated openAPI yml.

For example,
pseudo request body (**Expected**)
{
     "name: "string",
      "address": "string",
      "**isPrimary**": "Boolean"
}

### Actual Behaviour

For example,
pseudo request body (**Actual**)
{
     "name: "string",
      "address": "string",
      "**primary*

[2022-01-03 11:41] ilopmar commented on #635
Duplicate of #616

[2022-01-03 11:42] #635 closed

[2022-01-04 17:41] kevin-wise commented on #225
I second this. The typical use case would be a v2 API in parallel with a v1.

[2022-01-05 09:19] ilopmar commented on #611
I'm going to send a PR to fix this and #632. Before doing it I would like check with you that the new generated output is what you expect and it works for you.

In any case, for this to work you need to annotate the fields in your data classes with `@field:Schema(nullable = false, required = true)` so the `@Schema` annotation takes precedence.

@davidjessop

With the following data class:

[code]

[2022-01-05 23:33] jonnii commented on #611
Is there any way to do this without having to annotate everything with `@Schema`? Going to be a lot of work =( It would be nice if the validation annotations could take precedence over the default schema nullability the same way the `@Schema` annotation does.

[2022-01-07 09:21] ilopmar commented on #611
I see two ways to use Micronaut OpenAPI:
1.- Write your code as if you are not using OpenAPI/Swagger annotations and let Micronaut try its best to create the appropriate openapi spec.
2.- Use the Swagger annotations to exactly describe how your openapi spec should look like.

From my experience, I've always done the option `2` because it allows me express everything I want the way I want. With tha

[2022-01-12 14:44] #611 closed

[2022-01-12 14:44] #632 closed

[2022-01-14 11:24] ilopmar commented on #373
This is not a bug, it works as expected. Just for the fact that you have classes (POGOs or any other class) on your project doesn't mean that you want to expose them as part of you public Open API definition. If you create a controller that uses those POGOs, then they will included in the openapi spec.